$fa-font-path:  '../../node_modules/font-awesome/fonts';
$nta-font-path: '../assets/fonts/';
$pdk-image-path: '../assets/images/';
$govuk-frontend-toolkit-image-path: '../../node_modules/govuk_frontend_toolkit/images/';
$govuk-template-image-path: '../lib/govuk_template/stylesheets/images';


@import '../platform-template';
@import './app/content/icons-media/icons-media';
@import './app/content/errors/errors';

section.docs-section {
  margin: 30px 0;

  + section.docs-section {
    margin-top: 60px;
  }
}

// override for default component style, just for docs display
.gov-highlight-text {
  margin: 10px 0 15px;
}

/* Make skiplinks visible when they are tabbed to */
.skiplink {
  position: absolute;
  left: -9999em;
  &:focus {
    left: 0;
    z-index: 1;
  }
}

#skiplink-container {
  text-align: center;
  background: #0b0c0c;
  div {
    text-align: left;
    margin: 0 auto;
    max-width: 1020px;
  }
  .skiplink {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0.75em 0 0 30px;
  }
}

.example-grid {
  p {
    width: 100%;
    background: url("http://govuk-elements.herokuapp.com/public/images/examples/grid.png") 0 0 repeat;
    margin-bottom: 0;
    height: 30px;
    overflow: hidden;
    text-indent: -999em;
  }

  @media (min-width: 641px){
    p {
      height: 60px;
    }
  }
}

//* {
//  @include box-sizing(border-box);
//}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}