$fa-font-path: '../../node_modules/font-awesome/fonts';
$path: '../../node_modules/govuk_frontend_toolkit/images/';

@import '../platform-template';

section.docs-section {
  margin: 30px 0;

  + section.docs-section {
    margin-top: 60px;
  }
}

// override for default component style, just for docs display
.gov-highlight-text {
  margin: 10px 0 15px;
}