
$fa-font-path:  '../../node_modules/font-awesome/fonts';
$nta-font-path: '../lib/govuk/stylesheets/fonts';
$govuk-frontend-toolkit-image-path: '../lib/govuk/images';
$govuk-template-image-path: '../lib/govuk/stylesheets/images';

@import '../platform-template';
@import './app/content/icons-media/icons-media';
@import './app/content/errors/errors';

.gov-highlight-text {
  margin: 10px 0 15px;
}


.example-grid {
  p {
    width: 100%;
    background: url("http://govuk-elements.herokuapp.com/public/images/examples/grid.png") 0 0 repeat;
    margin-bottom: 0;
    height: 30px;
    overflow: hidden;
    text-indent: -999em;
  }

  @media (min-width: 641px){
    p {
      height: 60px;
    }
  }
}

* {
  @include box-sizing(border-box);
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}