<h2 class="heading-medium">Contact info</h2>

<p class="text">
  Displays position, title + full name, phone number and email address
</p>

<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="contact-info">
        <div class="bold-small">Supervisor officer</div>
        <div class="bold-xsmall">DS Amelia Hicks</div>
        <div class="font-xsmall">0151 123 4567</div>
        <div>
          <a href="mailto:hicksa@liverpool.police.uk" class="font-xsmall">hicksa@liverpool.police.uk</a>
        </div>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup"><gov-contact-info details="$ctrl.person"></gov-contact-info></docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      person = {
        position: 'Supervisor officer',
        name: 'DS Amelia Hicks',
        phone: '0151 123 4567',
        email: 'hicksa@liverpool.police.uk'
      };
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="5"></discuss-component>