<h2 class="heading-medium">Contact info</h2>

<p class="text">
  Displays position, title + full name, phone number and email address
</p>

<!-- we need a templating engine, as this  duplication will become the norm -->

<docs-example markup>
<div class="contact-info">
  <div class="contact-info-position">Supervisor officer</div>
  <div class="contact-info-name">DS Amelia Hicks</div>
  <div class="font-xsmall">0151 123 4567</div>
  <div>
    <a href="mailto:hicksa@liverpool.police.uk" class="font-xsmall">hicksa@liverpool.police.uk</a>
  </div>
</div>
</docs-example>
<discuss-component issue="5"></discuss-component>