<h3 class="heading-medium mb-l">Contact Info</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    The <b>pdk-contact-info</b> component is used for displaying the primary
    contact information.
    <h3 class="heading-small mb-m">Configuration</h3>
    <ul class="list list-docs">
      <li>
        <code class="code">name</code>
        The contact name belonging to the nominated person.
      </li>
      <li>
        <code class="code">position</code>
        The person's job title.
      </li>
      <li>
        <code class="code">email</code>
        The person's contact email address.
      </li>
      <li>
        <code class="code">telephone</code>
        The person's contact telephone number.
      </li>
    </ul>
  </div>

  <div class="column-two-thirds">
    <docs-example data-language="markup">
      <pdk-contact-info
        data-name="DC Amelia Hicks"
        data-position="Supervising Officer"
        data-telephone="0151 123 4567"
        data-email="hicksa@liverpool.police.uk">
      </pdk-contact-info>
    </docs-example>
  </div>
</div>