// Summary item
// ==========================================================================

$module: 'summary-item-deprecated';

.#{$module} {
  overflow: hidden;

  @include media(mobile) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a {
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
  }

  &-number,
  &-label {
    display: block;
  }

  &-inline {

    .#{$module}-number {

      @include media(tablet) {
        float: left;
        margin-right: 10px;
      }

    }

    .#{$module}-label {
      overflow: hidden;
    }

  }

}

/*

HTML Usage

<div class="summary-item">
  <span class="summary-item-number">44</span>
  <span class="summary-item-label">exhibits</span>
</div>

OR

<div class="summary-item summary-item-inline">
  <a href="#">
    <span class="summary-item-number">44</span>
    <span class="summary-item-label">exhibits</span>
  </a>
</div>

*/
