<h3 class="heading-medium mb-l">Page Title</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    <p>The <b>pdk-page-title</b> component is used for displaying page headings within
      a banner.</p>

    <h3 class="heading-small mb-m">Configuration</h3>
    <ul class="list list-docs">
      <li>
        <code class="code">heading</code>
        <p>The text to be used for the page title</p>
      </li>
    </ul>
  </div>

  <div class="column-two-thirds">
    <docs-example data-language="markup">
      <pdk-page-title heading="Single Page Platform Development Kit">
        PDK is life. PDK is love.
      </pdk-page-title>
    </docs-example>
  </div>
</div>