<h3 class="bold-medium">Timeline</h3>

<p class="text">
  Shows a timeline with information day by day
</p>

<docs-example markup>
<div class="timeline">
  <div class="top-thick-blue-rule ">
    <div class="bold-medium">Timeline</div>
  </div>
  <div class="day-item">
    <div class="box-outer">
      <div class="box-black-vertical"></div>
      <div class="boxed bottom-shadow">
        <div class="box-it-inner box-padding">
          <span class="bold-medium">Today</span>
        </div>
        <div class="box-margin box-it-inner line-spacing-10">
          <div class="bold-medium">Charging advice requested</div>
          <span class="gray small">09.15AM</span>
        </div>
        <div class="box-margin box-it-inner line-spacing-10">
          <span class="gray">Assign to me</span>
        </div>
        <div class="box-margin box-it-inner line-spacing-10">
          <span><a href=="">Review case</a></span>
        </div>
        <div class="box-margin line-spacing-10">
          <span class="gray">Enter your analysis and charging decision</span>
        </div>
      </div>
    </div>
  </div>
</div>
</docs-example>
<!--to be uncommented when we have a doc for angular files-->
<!--<gov-timeline title="$ctrl.timeline.title" elements="$ctrl.timeline.elements"></gov-timeline>-->
<discuss-component issue="11"></discuss-component>