<h3 class="bold-medium">Timeline</h3>

<p class="text">Shows a timeline with information day by day</p>

<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <section class="timeline">
            <header class="timeline-header">
              <h2 class="bold-medium">Basic Timeline</h2>
            </header>
            <article class="timeline-block">
              <div class="timeline-block-header">
                <time datetime="2016-05-10">10 May 2016</time>
              </div>
              <div class="timeline-block-content">
                <h3 class="bold-small">Charging advice requested</h3>
                <time class="font-xsmall" datetime="09:30Z">9:30am</time>
              </div>
            </article>
            <br>
            <header class="timeline-header">
              <h2 class="bold-medium">Timeline without stem</h2>
            </header>
            <article class="timeline-block timeline-block--no-stem">
              <div class="timeline-block-header">
                <time datetime="2016-05-10">10 May 2016</time>
              </div>
              <div class="timeline-block-content">
                <h3 class="bold-small">Charging advice requested</h3>
                <time class="font-xsmall" datetime="09:30Z">9:30am</time>
              </div>
            </article>
          </section>
        </div>
      </div>
    </docs-example>
    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <section class="timeline">
            <header class="timeline-header">
              <h2 class="bold-medium">Advanced Timeline</h2>
            </header>
            <article class="timeline-block">
              <div class="timeline-block-header">
                <time datetime="2016-05-12">12 May 2016</time>
              </div>
              <div class="timeline-block-content">
                <h3 class="bold-small">Sentence hearing</h3>
                <time class="font-xsmall" datetime="09:30Z">9:30am</time>
              </div>
            </article>
            <article class="timeline-block">
              <div class="timeline-block-header">
                <time datetime="2016-05-10">10 May 2016</time>
              </div>
              <div class="timeline-block-content">
                <h3 class="bold-small">Charging advice requested</h3>
                <time class="font-xsmall" datetime="09:30Z">9:30am</time>
                <ul class="timeline-block-updates">
                  <li><a href="#">Assign to me</a></li>
                  <li>Review full case</li>
                  <li>Enter your analysis and charging decision</li>
                </ul>
              </div>
            </article>
            <article class="timeline-block">
              <div class="timeline-block-header">
                <time datetime="2016-05-12">28 April 2016</time>
              </div>
              <div class="timeline-block-content">
                <h3 class="bold-small">Remanded in custody</h3>
                <time class="font-xsmall" datetime="09:30Z">9:30am</time>
              </div>
            </article>
          </section>
        </div>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-timeline title="$ctrl.timeline.title" elements="$ctrl.timeline.elements"></gov-timeline>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      timeline: any  = {
        title: 'Timeline',
        elements: [
          {
            dateTitle: 'Today',
            description: 'Charging advice requested',
            timestamp: '09:15AM',
            actions: [
              {title: 'Assign to me'},
              {title: 'Review case', action: () => { console.log('Review case'); }, active: true},
              {title: 'Enter your analysis and charging decision'}
            ]
          },
          {
            dateTitle: 'Yesterday',
            description: 'Recorded analysis',
            timestamp: '08:15AM',
            actions: [
              {title: 'Assign to me', action: () => { console.log('Assign to me'); }, active: true},
              {title: 'Review case'},
              {title: 'Enter your analysis and charging decision'}
            ]
          }
        ]
      };
    </prismify>
  </gov-tab>
</gov-tabset>
<discuss-component issue="11"></discuss-component>