// Timeline
// ==========================================================================

$module: 'timeline';

.#{$module} {
  
  &-header {
    border-top: em(10) solid $govuk-blue;
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
  }
}