<div class="side-menu">
  <div class="side-menu__group-heading" data-ng-class="{'visuallyhidden': !$ctrl.menuGroup.heading}">
    <h1 data-ng-bind="$ctrl.menuGroup.heading || $ctrl.defaultMenuHeading"></h1>
    <div class="side-menu__group-subheading" data-ng-if="$ctrl.menuGroup.subheading" data-ng-bind="$ctrl.menuGroup.subheading"></div>
  </div>
  <div data-ng-repeat="menu in $ctrl.menuGroup.menus">
    <h2 class="side-menu__heading" data-ng-if="menu.heading" data-ng-bind="menu.heading"></h2>
    <div data-ng-repeat="item in menu.items">
        <a class="side-menu__item" href=""
          data-ng-class="{
            'side-menu__item--active': item.isActive,
            'side-menu__item--disabled': item.isDisabled,
            'side-menu__item--image-mode': item.image,
            'side-menu__item--arrow-mode': menu.showArrowsOnItems
          }" 
          data-ng-click="$ctrl.onMenuItemClick({menuGroup: $ctrl.menuGroup, menuItem:item})">
          <div class="side-menu__item__image-wrapper" data-ng-if="item.image" >
            <img class="side-menu__item__image" data-ng-src="{{item.image}}" alt="{{item.title}}">
          </div>
          <div class="side-menu__item__content-wrapper">
            <div class="side-menu__item__title" data-ng-if="item.title && !item.image" data-ng-bind="item.title"></div>
            <div clamp class="side-menu__item__title" data-ng-if="item.title && item.image" data-ng-bind="item.title"></div>
            <div data-ng-if="item.text[0].length === 1" data-ng-bind="item.text"></div>
            <div data-ng-if="item.text[0].length > 1 && item.text.length > 1">
              <div data-ng-repeat="line in item.text" data-ng-bind="line"></div>
            </div>
            <span class="side-menu__item__arrow" data-ng-if="menu.showArrowsOnItems && !item.active">
              <i class="fa fa-angle-right"></i>
            </span>
          </div>
        </a>
      </div>
  </div>
</div>