.side-menu {
  .side-menu {
    
    &__group-heading {
      @include bold-19();
      padding: 0 0 10px 10px;
    }
    &__group-subheading {
      padding-top: 5px;
      @include core-14();
    }
    &__heading {
      @include bold-16();
      margin: 20px 5px 0 0;
      padding: 10px 0 10px 10px;
      border-top: 1px solid $border-colour;
    }
    &__item {
      cursor: pointer;
      display: block;
      position: relative;
      padding: 10px;
      text-decoration: none;
      color: $black-midnight;
      @include core-16();
      &__title {
        @include bold-16();
        color: $link-colour;
      }
      &__arrow {
        display: table;
        position: absolute;
        margin: auto 0;
        top: 0;
        right: 10px;
        bottom: 0;
      }
      &__image-wrapper {
        width: 70px;
        height: 70px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
      &__image {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
      }
      &--image-mode {
        display: table;
        width: 100%;
        .side-menu__item__content-wrapper {
          display: table-cell;
          vertical-align: middle;
          & > * {
            padding-left: 10px;
          }
        }
      }
      &--arrow-mode {
        padding-right: 30px;
      }
      &--active {
        background-color: $link-colour;
        cursor: default;
        color: $white;
        .side-menu__item__title {
          color: $white;
        }
      }
      &--disabled {
        color: $secondary-text-colour;
        cursor: default;
        .side-menu__item__title {
          color: $secondary-text-colour;
        }
      }
    }
  }
}