<div
    class="error-summary"
    id="error-summary"
    role="group"
    tabindex="1"
    aria-labelledby="error-summary-heading"
    ng-show="$ctrl.form.$invalid">

  <h2
      class="heading-medium error-summary-heading"
      id="error-summary-heading">

    {{ $ctrl.title }}
  </h2>

  <ul
      class="error-summary-list">
    <gov-error-summary-item
        data-ng-repeat="field in $ctrl.invalidFields()"
        label="{{field.label}}"
        scroll-to-id="field.scrollToId || 'error-' + field.name"
        focus-id="field.focusId || 'error-' + field.name">
    </gov-error-summary-item>
  </ul>
</div>