<h2 class="heading-medium">Case markers</h2>

<p class="text">
  Displays position, title + full name, phone number and email address
</p>

<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
        <span class="case-marker">Domestic violence</span>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup"><gov-case-markers text="$ctrl.text"></gov-case-markers></docs-example>
  </gov-tab>
  
  <gov-tab heading="Data">
    <prismify language="javascript">
      text = 'Domestic violence';
    </prismify>
  </gov-tab>  
  
</gov-tabset>

<discuss-component issue="5"></discuss-component>