<h2 class="heading-medium">Right column navigation</h2>
<p>Component for a column navigation</p>
<p>Each component has an optional <code>metadata</code> attribute. Metadata is displayed at the top of the component. Metadata can either be passed in as an object (for a single metadata item), or as an array. Metadata can render a string of html (see example).</p>
<p>Each component has a required <code>sections</code> attribute which takes an array of sections.</p>
<p>Each section has an optional <code>header</code> string and a required list of <code>links</code>. Links can be made bold by adding an <code>isBold: true</code> property to the particular link object.</p>

<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <!-- related -->
          <div class="related">
            <div class="related-section">
              <ul class="related-links">
                <li><a href="#">View this user&rsquo;s details</a></li>
                <li><a href="#">Search for user in this organisation</a></li>
                <li><a href="#">Search for another organisation</a></li>
                <li><a class="bold-xsmall" href="#">More</a></li>
              </ul>
            </div>
          </div>
          <!-- end -->
        </div>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <gov-column-navigation sections="$ctrl.example1.sections">
          </gov-column-navigation>
        </div>
      </div>
    </docs-example>

    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <gov-column-navigation metadata="$ctrl.example2.column1.metadata" sections="$ctrl.example2.column1.sections">
          </gov-column-navigation>
        </div>
        <div class="column-third">
          <gov-column-navigation metadata="$ctrl.example2.column2.metadata" sections="$ctrl.example2.column2.sections">
          </gov-column-navigation>
        </div>
      </div>
    </docs-example>

    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <gov-column-navigation sections="$ctrl.example3.column1.sections">
          </gov-column-navigation>
        </div>
        <div class="column-third">
          <gov-column-navigation sections="$ctrl.example3.column2.sections">
          </gov-column-navigation>
        </div>
      </div>
    </docs-example>
  </gov-tab>
  
  <gov-tab heading="Data">
    <prismify language="javascript">
      example1 = {

        sections: [
          {
            links: [
              {
                text: 'View this user\'s details',
                onClick: function() {
                  console.log('Clicked \"Viewing the user\'s details\"');
                }
              },
              {
                text: 'Search for user in this organisation',
                onClick: function() {
                  console.log('Clicked on \"Search for user in this organisation\"');
                }
              },
              {
                text: 'Search for another organisation',
                onClick: function() {
                  console.log('Clicked on \"Search for another organisation\"');
                }
              },
              {
                text: 'More',
                isBold: true,
                onClick: function() {
                  console.log('Clicked on \"More\"');
                }
              }
            ]
          }
        ]
      };

      example2 = {

        column1: {
          metadata: {
            text: 'This user last signed in on 13 December 2015 at 2:36pm'
          },
          sections: [
            {
              links: [
                {
                  text: 'Search for another user',
                  onClick: function() {
                    console.log('Clicked on \"Search for another user\"');
                  }
                }
              ]
            }
          ]
        },

        column2: {
          metadata: [
            {
              text: 'This user’s account will be suspended on 17 March 2017'
            },
            {
              text: 'This user last signed in on 13 December 2015 at 2:36pm'
            }
          ],
          sections: [
            {
              links: [
                {
                  text: 'Search for another user',
                  onClick: function() {
                    console.log('Clicked on \"Search for another user\"');
                  }
                }
              ]
            }
          ]
        }
      };

      example3 = {

        column1: {
          sections: [
            {
              heading: 'Actions for this org',
              links: [
                {
                  text: 'View organisation\'s details',
                  onClick: function() {
                    console.log('Clicked on \"View organisation\'s details\"');
                  }
                }
              ]
            },
            {
              heading: 'Other actions',
              links: [
                {
                  text: 'Search for another organisation',
                  onClick: function() {
                    console.log('Clicked on \"Search for another organisation\"');
                  }
                },
                {
                  text: 'Search all users',
                  onClick: function() {
                    console.log('Clicked on \"Search all users\"');
                  }
                }
              ]
            }
          ]
        },

        column2: {
          sections: [
            {
              heading: 'To do',
              links: [
                {
                  text: 'View case material',
                  onClick: function() {
                    console.log('Clicked on \"View case material\"');
                  }
                },
                {
                  text: 'Enter analysis and charging decisions',
                  onClick: function() {
                    console.log('Clicked on \"Enter analysis and charging decisions\"');
                  }
                },
                {
                  text: 'Create action plan',
                  onClick: function() {
                    console.log('Clicked on \"Create action plan\"');
                  }
                }
              ]
            }
          ]
        }
      };
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="9"></discuss-component>