<h3 class="heading-medium mb-l">Status Label</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    <p>The <b>pdk-status-label</b> component is used for highlighting key
      information.</p>

    <h3 class="heading-small mb-m" style="margin-top: 0">Configuration</h3>
    <ul class="list list-docs">
      <li>
        <code class="code">status</code>
        The status text to be displayed.
      </li>
    </ul>
  </div>

  <div class="column-two-thirds">
    <docs-example language="markup">
      <pdk-status-label status="No Documents Received"></pdk-status-label>
    </docs-example>
  </div>
</div>