language: node_js
node_js:
- '4.0'
install:
- npm install
- npm install -g gulp
script:
- npm run build_prod
deploy:
  provider: npm
  email: fabiotisci@gmail.com
  api_key: bfd10801-7609-4c54-8684-f3bc3e6cad2c
  on:
    branch: master
after_deploy:
- bash ./deploy_gh_pages.sh
env:
  global:
  - GH_REF: github.com/CJSCommonPlatform/govuk_single_page_pdk.git
  - secure: mlk2c9x0vQHuCEZRA4Xt8KAt6J+MOkX+druC6CY5fOsY+W+p2+QvQ8gCvblT3VF6Vz+vUj+6L1PllFZ33X3GGfM8mlxWswcKPueC3dO/Ksm9i2cT2dM/kQeekF9ctG0pzEQm3mdfaDrewD8nDaqdL/Q6k+yKx5tPraDYkQrL5A3vXaB0uichUOen3+/bLCh/Q0c/uNEdrzyL5PVf3fkt5PLudOSr/UuEiI1GXO75o0pc9SN6TB9UvAHB+C1OZUww7Vq2gILi1irqFnrZK1LCSZj0BtBUQ7ZR9WhcN+BPaYC/tNgZORLfpETseglNnRPkjQ73jEJ9dI1YMEYvBP59juQmOjXfBrgTqhgqVsEA/ecEW9YXp+rxY5VvCH49i/fXrWDrezDZSedOnMw3oZnpu7eSECwA4c8gZMr10Mm2s+fj/dok0846yVmGq8AYKA2DHl/nWEECusI9WyqxqwUmgny3vjZtRgDlix9lUQedn+78Mjo1B4SY7RtiRWlXwdTIdUvQoT9gd8c8P50j5ibfjr1F5ZIjSiDSdLwys4S0FInzyMAuZhHWLofEzSRt47mZFmbIKTyCYD99fCgIflmN7A+5otDbN8kHKNuBRbTuMEctH+UKdv4x2a/7gfUUD0IfQHvHJ2GhP1NY0R95sZgKDAmpbGBbZbDvzl6mYLlNgug=
