language: node_js
node_js:
- '4.0'
install:
- npm install
- npm install -g gulp
script:
- npm run build_prod
after_success:
- bash ./deploy_gh_pages_on_tag.sh
env:
  global:
  - GH_REF: github.com/CJSCommonPlatform/govuk_single_page_pdk.git
  - secure: mlk2c9x0vQHuCEZRA4Xt8KAt6J+MOkX+druC6CY5fOsY+W+p2+QvQ8gCvblT3VF6Vz+vUj+6L1PllFZ33X3GGfM8mlxWswcKPueC3dO/Ksm9i2cT2dM/kQeekF9ctG0pzEQm3mdfaDrewD8nDaqdL/Q6k+yKx5tPraDYkQrL5A3vXaB0uichUOen3+/bLCh/Q0c/uNEdrzyL5PVf3fkt5PLudOSr/UuEiI1GXO75o0pc9SN6TB9UvAHB+C1OZUww7Vq2gILi1irqFnrZK1LCSZj0BtBUQ7ZR9WhcN+BPaYC/tNgZORLfpETseglNnRPkjQ73jEJ9dI1YMEYvBP59juQmOjXfBrgTqhgqVsEA/ecEW9YXp+rxY5VvCH49i/fXrWDrezDZSedOnMw3oZnpu7eSECwA4c8gZMr10Mm2s+fj/dok0846yVmGq8AYKA2DHl/nWEECusI9WyqxqwUmgny3vjZtRgDlix9lUQedn+78Mjo1B4SY7RtiRWlXwdTIdUvQoT9gd8c8P50j5ibfjr1F5ZIjSiDSdLwys4S0FInzyMAuZhHWLofEzSRt47mZFmbIKTyCYD99fCgIflmN7A+5otDbN8kHKNuBRbTuMEctH+UKdv4x2a/7gfUUD0IfQHvHJ2GhP1NY0R95sZgKDAmpbGBbZbDvzl6mYLlNgug=
notifications:
  slack:
  - secure: i97YJnkikpmeFDU/V/nuyV31sAG2OsFvxXq4il7S7YHGRRQNBvxOEQNj/eu4bx4cEG8sHoAGaArhbjR8TWlhWgHp/Q2JvaOq5WSAb1H4ujFqsBVjvh7tiqKxWxDxpVnfyO8ylXTw8HpsuIgOGXp+Wo3x7jSfJ+0hxmDppB2ruyfXEWoEmYpywLd8v4srEHUasS00GK8CNRiHtFEF1SlbmMocw7jECkUUvgFOf3auZaL/zkTzfwIzHloS2+0PjDm6iHt4+oUYnfRaGxd6yMGDq3MsIVFPDB15VHypU4HJqt5QPmhOlUWUggImXVmhUTCO2lKaa/n9h6B7W67f1hu+ICigIJkZW0N9fpbwNVomE0OrJbQhxaQEH4I2gJqFnKWykC+EhbtPOTwIEVs5BczaI/TkudKjvhI0JOzAO4QZv5mQMz1hr2G85uWMWDAJmmSzvm1seicck5acWWElqVhSezAyQjqLwiN+4i3tbdZe7mGZ8sXxWz5I4Ed7E2M81OSu353m+JZah4cJ1IkPJDl2N+KG3hyvWTd7sS2eK/9UdWyeMjDw+9wJeIAK0G3TYMawzutBDstysCcFNLx8eb3b2BV5YJR9CSIxIFeXajtL3lOaKQKHb0Z6Bg81KJafQdkShoFNwzakNQ2P7mvr3/BKdQ7hYkNWVeMpuMAq1x+pi/Y=
