sudo: false
dist: trusty
language: node_js
node_js:
- lts/boron
before_install:
- npm install -g npm@latest
install:
- npm ci
script:
- npm test
- npm run build_prod
deploy:
- provider: pages
  skip_cleanup: true
  github-token: "$GITHUB_TOKEN"
  verbose: true
  committer-from-gh: true
  on:
    branch: master
  local-dir: dist/govuk_single_page_pdk
- provider: script
  script: npm run ci:publish
  skip_cleanup: true
  on:
    tags: true
env:
  global:
  - secure: Wh1DPmetpAgcMw46h0CgU+quk04Kx5Zr385YuPQqPgSHeht4Z5vnyct9bJRVpeYHT4RV24vLV3BLBojFt8rxfktgglmgfy+Im/QS4axxA/JXFWAHnDAHPDQeqr/Sq/uFI06zW03sntrIvWGY2p1mxjb6AVg4OHFnHdVVVCxN9Ws3qkII6LJt63N/rsnt7QJ+BNVKeQO67mkx6bQnmumSad/D8hkMgfIQ9EaZpjUaSFHb0bxXSoP85cpt6JRerx3pWGl2O/HJ/pS0h/Fw6eAnn8AYk6YaQ0HU/l4V74YOrWXxfvL3S18iLegY9+5X4DL0Y/Bo5oAGoKpBzRUE7jELVnCVkF4GsD2B2Cz312BC/ZTd0AfDtE9xtrL/KgFePm2WQj7vBJfiBe3XFF8FmUEiJZSdiNXE9d/YfeHYVJZIyEczvZplMbZ9ZsYcOLNBPGztncEKqWWt9sOyImCLr8eCVsUTwrQ0mEzb8wbUZhfrHHyT8iwm8EpwTcv2usXZPARprc7nAkOZ059DHM9GmRyOoPoXrYxIRc1vtf5aRlRTeFgNqcx44sxtbKOb5fAfKgYNXZKLV/OFLXQDmPCyPQqxzcFqU+7B8HqV6wDVQRr9KPKs6Z56YEvjeaVrlS/yHMYaLnwYkwHgoC6cJ6KgtStaCumu8X5W2h7bIA1eOAvg6u4=
  - secure: tutBarIlaaF4KCrImeQU9tkEeAyY8rQkxhITikq5GG+qmlk06ppzVForMntiQoRWDUC37IIw1661MkCbvHfbD4BWIz9UUqFhW+rUrSOimSRsVl3xVPGIZmwefMti19D/eQi1+jp+kLqxtHcHE/zo/gFVNYTLEqn7K8LdqoSsglPCGUZmX+G8wQzGvM71TQy50XqqhnlD/QUb3CYEOmISZMoq81bqtYlfvJU5ehiJGzlzoNJhGTkTbAn5jdm757scJZMIyRdDERG5y5hvrEHW6eJYNOW4+IrfloPj3TJ8uLE59PnVWwq95go2HAI8ntWfyntZDudp3uU6DykxRC8YlMflA5/3xg3a9o0KzrzvP19sHrIDAZjzi+tHAd7odCPN5k4utbnKihbiK5Af2HwDbS3MwgGCCw0PsvqFSRn4yihngvnstGFzbYQJgcZMiolZ4g3S+wgfQ5w6nrYObu2wIVyA8NP3MSliCTWiEzUKN/biTgXvR711KgEB88byrUKh2N9OgTr/d1rxRFMvD8dwoNUJ/0wkvwiKc1vKY6wlgpfL9ZXTE0z7Qhb7MbIaZ+RHIOaCd3YMBW4JEXVDWmV+XCgz15rOhCL3HIEIKd+9I7RQVk58edp0KnfmwvLvCl5QsbxEkH/v1ZKw2mGgsDdK43yx20YOtKPAFdf3L3H8Ax0=
