@import '~govuk_frontend_toolkit/stylesheets/colours';

// todo: source this from somewhere

.example {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  &:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
    font-family: "nta", Arial, sans-serif;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    background: #bfc1c3;
    color: white;
  }

  .highlight {
    font-style: normal;
    color: #0076c0;
  }

  .list-bullet {
    margin-bottom: 20px;
  }
}

@media (min-width: 641px) {
  .example {
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

    &:before {
      font-size: 14px;
      line-height: 1.4285714286;
    }
  }
}


$module: 'code-example';

.#{$module} {
  font-size: 14px;
  margin-bottom: em(20);
  overflow: hidden;
}

$module: 'ng-badge';

.#{$module} {
  background: $govuk-blue;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-size: 13px;
  height: 1.538em;
  line-height: 1.6em;
  text-align: center;
  vertical-align: top;
  width: 1.538em
}

.list-docs li {
  margin-bottom: 12px;
}