// Digit box
// ==========================================================================

$module: 'pdk-digit-box';

.#{$module} {
  @include bold-36;
  background-color: $grey-1;
  clear: both;
  color: white;
  display: inline-block;
  padding: $gutter-half;
  vertical-align: top;
}

/*
  
HTML Usage
  
<div class="digit-box">
  <span class="digit-box-number">07700900753</span>
</div>

*/