<h3 class="heading-medium mb-l">Digit Box</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    The <b>pdk-digit-box</b> component is used for featuring numeric values.

    <h3 class="heading-small mb-m">Configuration</h3>

    <ul class="list list-docs">
      <li>
        <code class="code">digit</code>
        The number to be displayed within the digit box.
      </li>
    </ul>
  </div>

  <div class="column-two-thirds">
    <docs-example data-language="markup">
      <pdk-digit-box data-digit="1245"></pdk-digit-box>
    </docs-example>
  </div>
</div>