<h3 class="heading-medium mb-l">Tags</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    The <b>pdk-tag</b> component is used for displaying meta data as
    a presentational label.

    <h3 class="heading-small mb-m">Configuration</h3>

    <ul class="list list-docs">
      <li>
        <code class="code">tag</code>
        The text to be displayed within the tag.
      </li>
    </ul>
  </div>

  <div class="column-two-thirds">
    <docs-example data-language="markup">
      <pdk-tag tag="Label one"></pdk-tag>
      <pdk-tag tag="Label two"></pdk-tag>
    </docs-example>
  </div>
</div>