<div class="global-nav">

  <div class="global-nav-actions">
    <a href=""
       class="global-nav-toggle"
       aria-controls="global-nav"
       aria-expanded="{{ $ctrl.open }}"
       data-ng-bind="$ctrl.menuTitle"
       data-ng-click="$ctrl.toggle()">
    </a>
  </div>

  <nav class="global-nav-menu"
       id="global-nav"
       role="navigation"
       aria-label="{{ $ctrl.globalNavigation }}"
       aria-expanded="{{ $ctrl.open }}">

    <h3 class="visuallyhidden" data-ng-bind="$ctrl.globalNavigation"></h3>

    <ul class="global-nav-list" data-ng-if="$ctrl.leftList">
      <li data-ng-repeat="item in $ctrl.leftList" data-ng-class="{'is-active':item.isActive}">
        <a href=""
           data-ng-bind="item.text"
           data-ng-click="$ctrl.onMenuItemClick({items: $ctrl.menu.items, currentItem: item})"></a>
      </li>
    </ul>

    <ul class="global-nav-list" data-ng-if="$ctrl.rightList">
      <li data-ng-repeat="item in $ctrl.rightList" data-ng-class="{'is-active':item.isActive}">
        <a href=""
           data-ng-bind="item.text"
           data-ng-click="$ctrl.onMenuItemClick({items: $ctrl.menu.items, currentItem: item})"></a>
      </li>

    </ul>

  </nav>

</div>