@import '~govuk_frontend_toolkit/stylesheets/colours';
@import '~govuk_frontend_toolkit/stylesheets/typography';

.list-progress {
  counter-reset: items;
  li {
    @include core-14;
    border: none;
    border-bottom: 1px solid $grey-2;
    color: $grey-1;
    padding: 15px 0 20px;

    i {
      margin-right: 5px;
      color: $green;
    }

    &.active {
      z-index: 2;
      background: none;
      border-bottom: 3px solid $black !important;
      margin-bottom: -1px;
      color: $grey-1;
      .bold-small {
        color: $black;
      }
    }
  }

  &.list-progress-number li {
    &:before {
      @include bold-19;
      counter-increment: items;
      content: counter(items) ".\00A0\00A0";
      float: left;
    }
    &.active:before {
      color: $black;
    }
  }
}