<h2 class="heading-medium">Progress List</h2>


<gov-tabset>

  <gov-tab heading="HTML">
     <docs-example language="markup">
       <div class="grid-row">

         <div class="column-one-third">

           <ol class="progress-list">
             <li class="is-active">Step one <span class="progress-list-status">incomplete</span></li>
             <li>Step two</li>
             <li>Step three</li>
             <li>Step four</li>
           </ol>

         </div>

         <div class="column-one-third">

           <ol class="progress-list">
             <li>Step one <span class="progress-list-status"><i class="icon icon-complete"></i> complete</span></li>
             <li class="is-active">Step two <span class="progress-list-status">incomplete</span></li>
             <li>Step three</li>
             <li>Step four</li>
           </ol>

         </div>

         <div class="column-one-third">

           <ol class="progress-list">
             <li>Step one <span class="progress-list-status"><i class="icon icon-complete"></i> complete</span></li>
             <li>Step two <span class="progress-list-status"><i class="icon icon-complete"></i> complete</span></li>
             <li class="is-active">Step three <span class="progress-list-status">incomplete</span></li>
             <li>Step four</li>
           </ol>

         </div>

       </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-progress-list steps="$ctrl.steps" show-numbers="true"></gov-progress-list>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      steps = [
        {
          label:   'Step One',
          complete: true,
          active:   false
        },
        {
          label:   'Step Two',
          complete: false,
          active:   true
        },
        {
          label:   'Step Three',
          complete: false,
          active:   false
        }
      ];
    </prismify>
  </gov-tab>

</gov-tabset>




