<h2 class="heading-medium">Progress List</h2>


<gov-tabset>

  <gov-tab heading="HTML">
     <docs-example language="markup">
      <ul class="list list-progress">
        <li>
          <div class="heading-small">1. Step One</div>
          <i class="fa fa-check"></i>Complete
        </li>
        <li class="active">
          <div class="heading-small">2. Step Two</div>
          Incomplete
        </li>
        <li>
          <div class="heading-small">3. Step Three</div>
        </li>
      </ul>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-progress-list steps="$ctrl.steps"></gov-progress-list>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      steps = [
        {
          label:   'Step One',
          complete: true,
          active:   false
        },
        {
          label:   'Step Two',
          complete: false,
          active:   true
        },
        {
          label:   'Step Three',
          complete: false,
          active:   false
        }
      ];
    </prismify>
  </gov-tab>

</gov-tabset>




