@import '~govuk_frontend_toolkit/stylesheets/colours';
@import '~govuk_frontend_toolkit/stylesheets/typography';

.list-progress {

  li {
    @include core-14;
    border: none;
    border-bottom: 1px solid $grey-2;
    color: $grey-1;
    padding-bottom: 10px;
    margin-bottom: 20px;

    i {
      margin-right: 5px;
      color: $green;
    }

    &.active {
      z-index: 2;
      background: none;
      border-bottom: 3px solid $black !important;
      margin-bottom: -1px;
      color: $grey-1;
      .heading-small {
        color: $black;
      }
    }
  }
}