<h2>Notification</h2>

<gov-tabset>

  <gov-tab heading="HTML Example">

    <section aria-labelledby="notifications">
    
      <h3 class="heading-medium" id="notifications">Notifications</h3> 
      
      <ul class="text list list-bullet">
        <li>no full stop should be used for notifications</li>
        <li>top of the page just below the breadcrumb or phase banner</li>
        <li>can be used with or without icon</li>
      </ul>
      
      <p>Critical and non&ndash;critical notifications</p>
      <div docs-example language="markup">
        <div class="notification notification-confirmation" role="alert">
          <i class="icon icon-tick-white" role="presentation" aria-hidden="true"></i>
          <div class="notification-message">
            <p class="bold-medium">Accepted case management information</p>
          </div>
        </div>
        <div class="notification notification-confirmation" role="alert">
          <div class="notification-message">
            <p class="bold-medium">Accepted case management information</p>
          </div>
        </div>
      </div>
      
      <div class="panel panel-border-wide">
        <p>This pattern is for <b>IdAM</b> only.</p>
      </div>
      
      <p>Active notifications</p>
      <docs-example language="markup">
        <div class="notification notification-active" role="alert">
          <i class="icon icon-tick-white" role="presentation" aria-hidden="true"></i>
          <div class="notification-message">
            <p class="bold-medium">With optional tick icon and text wrapping lorem ipsum dolor sit amet, consectetur adipiscing elit sed do tem por incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
        <p>Pending notifications</p>
        <div class="notification notification-pending" role="alert">
          <div class="notification-message">
            <p class="bold-medium">Text only with no icon</p>
          </div>
        </div>
        <p>Locked notifications</p>
        <div class="notification notification-locked" role="alert">       
          <i class="icon icon-important-white" role="presentation" aria-hidden="true"></i>
          <div class="notification-message">
            <p class="bold-medium">This users mobile number has not yet been verified</p>
          </div>
        </div>
        <p>Deregistered notifications</p>
        <div class="notification notification-deregistered" role="alert">
          <div class="notification-message">
            <p class="bold-medium">Example grey notification</p>
          </div>
        </div>
      </docs-example>
    </section> 
    <p class="font-xsmall"><a href="#">Back to the top</a></p>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <p>Critical and non–critical notifications</p>
      <gov-notification 
        type="confirmation" 
        show-icon="true">
        Accepted case management information
      </gov-notification>
      <gov-notification 
        type="confirmation" 
        show-icon="false">
        Accepted case management information
      </gov-notification>
      <gov-notification
          type="confirmation"
          link="$ctrl.link"
          show-icon="true">
        Accepted case management information
      </gov-notification>

      <p>Active notifications</p>
      <gov-notification 
        type="active" 
        show-icon="true">
        With optional tick icon and text wrapping lorem ipsum dolor sit amet, consectetur adipiscing elit sed do tem por incididunt ut labore et dolore magna aliqua
      </gov-notification>            
      <p>Pending notifications</p>
      <gov-notification 
        type="pending" 
        show-icon="true">
        Text only with no icon
      </gov-notification> 
      <p>Locked notifications</p>
      <gov-notification 
        type="locked" 
        show-icon="true">
        This users mobile number has not yet been verified
      </gov-notification>      
      <p>Deregistered notifications</p>
      <gov-notification 
        type="deregistered" 
        show-icon="true">
        Example grey notification
      </gov-notification>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <docs-example language="javascript">
      examples = [
        {showIcon: true,  style: 'success'},
        {showIcon: false, style: 'invalid'}
      ];

      link = {
        url: 'https://direct.gov.uk',
        title: 'Check Gov.uk'
      }
    </docs-example>
  </gov-tab>

</gov-tabset>

<discuss-component issue="20"></discuss-component>