.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;

  &:visited {
    background-color: #dee0e2;
  }

  &:hover, &:focus {
    background-color: #d0d3d6;
  }

  &:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2;
  }

  &.disabled, &[disabled="disabled"], &[disabled] {
    zoom: 1;
    filter: alpha(opacity = 50);
    opacity: 0.5;
  }

  &.disabled:hover, &[disabled="disabled"]:hover, &[disabled]:hover {
    cursor: default;
    background-color: #dee0e2;
  }

  &.disabled:active, &[disabled="disabled"]:active, &[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe;
  }

  &:link, &:hover, &:focus, &:visited {
    color: #0b0c0c;
  }

  &:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:active:before {
    top: -10%;
    height: 120%;
  }

  &[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0;
  }
}


.button-tertiary {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;

  &:visited {
    background-color: #b10e1e;
  }

  &:hover, &:focus {
    background-color: #990c1a;
  }

  &:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e;
  }

  &.disabled, &[disabled="disabled"], &[disabled] {
    zoom: 1;
    filter: alpha(opacity = 50);
    opacity: 0.5;
  }

  &.disabled:hover, &[disabled="disabled"]:hover, &[disabled]:hover {
    cursor: default;
    background-color: #b10e1e;
  }

  &.disabled:active, &[disabled="disabled"]:active, &[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #6a0812;
    -moz-box-shadow: 0 2px 0 #6a0812;
    box-shadow: 0 2px 0 #6a0812;
  }

  &:link, &:hover, &:focus, &:visited {
    color: #fff;
  }

  &:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:active:before {
    top: -10%;
    height: 120%;
  }

  &[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.button-quaternary {
  background-color: #005ea5;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003259;
  -moz-box-shadow: 0 2px 0 #003259;
  box-shadow: 0 2px 0 #003259;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;

  &:visited {
    background-color: #005ea5;
  }

  &:hover, &:focus {
    background-color: #004f8c;
  }

  &:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #005ea5;
    -moz-box-shadow: 0 0 0 #005ea5;
    box-shadow: 0 0 0 #005ea5;
  }

  &.disabled, &[disabled="disabled"], &[disabled] {
    zoom: 1;
    filter: alpha(opacity = 50);
    opacity: 0.5;
  }

  &.disabled:hover, &[disabled="disabled"]:hover, &[disabled]:hover {
    cursor: default;
    background-color: #005ea5;
  }

  &.disabled:active, &[disabled="disabled"]:active, &[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #003259;
    -moz-box-shadow: 0 2px 0 #003259;
    box-shadow: 0 2px 0 #003259;
  }

  &:link, &:hover, &:focus, &:visited {
    color: #fff;
  }

  &:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:active:before {
    top: -10%;
    height: 120%;
  }

  &[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0;
  }
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}