<h2 class="heading-medium">Persist info</h2>

<p class="text">
  This banner is the highlighted heading for the page.
</p>

<gov-tabset>
  <gov-tab heading="HTML Example">
    <section aria-labelledby="persist-info">
      
      <p>Persist information is a highlighted heading for a page that requires it.</p>
      
      <docs-example language="markup">
        <div class="persist-info">
          <span class="persist-info-reference">12AA3456716</span>
          <span class="persist-info-title">Joseph BLOGGS</span>
        </div>
        <br>
        <div class="persist-info">
          <span class="persist-info-reference">55DP0028116</span>
          <span class="persist-info-title">Peter JAMES and 1 other</span>
        </div>
        <br>
        <div class="persist-info">
          <span class="persist-info-reference">78GQ0618124</span>
          <span class="persist-info-title">Mary SMITH and 2 others</span>
        </div>
      </docs-example>
    </section>
    <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-persist-info-banner
        label="$ctrl.label"
        title="$ctrl.title"
        links="$ctrl.links">
      </gov-persist-info-banner>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      label = '55DP0028116';
      title = 'E. COWAN, E. MICHAELS AND W. PICKUP';
      links = [
        {
          title: 'Case Options',
          onClick: function () {
            console.log('Case options');
          }
        },
        {
          title: 'Notifications',
          onClick: function () {
            console.log('Notifications');
          }
        }
      ]
    </docs-example>
  </gov-tab>

</gov-tabset>

<discuss-component issue="3"></discuss-component>