.persist-info {
  background-color: $govuk-blue;
  padding:15px;
  color:white;
  font-weight: bold;
  &-label {
    margin-right:10px;
  }
  &-links {
    float: right;
  }
  &-link {
    color: $white;
    margin-left: 10px;
    &:visited,:active {
      color: $white;
    }
  }
}