.persist-info {
  background-color: $govuk-blue;
  padding:15px;
  color:white;
  font-weight: bold;
  &-label {
    margin-right:10px;
  }
  &-links {
    float: right;
  }
  &-link {
    color: $white;
    margin-left: 10px;
    &:visited,:active {
      color: $white;
    }
  }
}

// Persist information
// ==========================================================================

$module: 'persist-info';

.#{$module} {
  @include core-16;
  background-color: $govuk-blue;
  color: white; 
  padding: $gutter-half;
  
  &-reference {
    float: left;
    margin-right: 10px;
  }
  
  &-title {
    display: block;
    overflow: hidden;
    font-weight: 700;
  }
  
}

/*
  
HTML Usage
  
<div class="persist-info">
  <span class="persist-info-reference">12AA3456716</span>
  <span class="persist-info-title">Joseph BLOGGS</span>
</div>

*/