<h3 class="heading-medium">Personal Details</h3>
<gov-tabset>

  <gov-tab heading="HTML Example">

    <docs-example language="markup">
      <div class="gov-personal-details">
        <h1 class="heading-large">
          <span class="heading-secondary">Suspect</span>  
          Peter JAMES
        </h1>
        <ul class="gov-personal-details-info">
          <li>30 years old</li>
          <li>Born 8 June 1985</li>
          <li>British</li>
          <li>Self-defined as White British</li>
          <li>14 Tottenham Court Road, London W1T 1JY</li>
        </ul>
      </div>
    </docs-example>

  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-personal-details subtitle="$ctrl.subtitle" title="$ctrl.title" info="$ctrl.info"></gov-personal-details>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
    {
      title: 'Peter JAMES',
      subtitle: 'Suspect',
      info = [
        '30 years old',
        'Born 8 June 1985',
        'British',
        'Self-defined as White British',
        '14 Tottenham Court Road, London W1T 1JY'
      ]
    }
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="6"></discuss-component>