<h3 class="heading-medium">Personal Details</h3>
<gov-tabset>

  <gov-tab heading="HTML Example">

    <docs-example language="markup">
      <div class="personal-details">
        <h3 class="heading-large">
          <span class="heading-secondary">Suspect</span>
          Peter JAMES
        </h3>
        <div>30 years old</div>
        <div>Born 8 June 1985</div>
        <div>British</div>
        <div>Self-defined as White British</div>
        <div>
          <span>14 Tottenham Court Road</span>,
          <span>London</span>
          <span>W1T 1JY</span>
        </div>
      </div>
    </docs-example>

  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-personal-details subtitle="$ctrl.subtitle" title="$ctrl.title" info="$ctrl.info"></gov-personal-details>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
    {
      title: 'Peter JAMES',
      subtitle: 'Suspect',
      info = [
        '30 years old',
        'Born 8 June 1985',
        'British',
        'Self-defined as White British',
        '14 Tottenham Court Road, London W1T 1JY'
      ]
    }
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="6"></discuss-component>