@font-face {
  font-family: 'nta';
  src: url('#{$nta-font-path}/NTA-Bold-20130221.eot');
  src: url('#{$nta-font-path}/NTA-Bold-20130221.eot?#iefix') format('embedded-opentype'),
  url('#{$nta-font-path}/NTA-Bold-20130221.woff2') format('woff2'),
  url('#{$nta-font-path}/NTA-Bold-20130221.woff') format('woff'),
  url('#{$nta-font-path}/NTA-Bold-20130221.ttf') format('truetype'),
  url('#{$nta-font-path}/NTA-Bold-20130221.svg#svgNTA') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: 'nta';
  src: url('#{$nta-font-path}/NTA-Light-20130221.eot');
  src: url('#{$nta-font-path}/NTA-Light-20130221.eot?#iefix') format('embedded-opentype'),
  url('#{$nta-font-path}/NTA-Light-20130221.woff2') format('woff2'),
  url('#{$nta-font-path}/NTA-Light-20130221.woff') format('woff'),
  url('#{$nta-font-path}/NTA-Light-20130221.ttf') format('truetype'),
  url('#{$nta-font-path}/NTA-Light-20130221.svg#svgNTA') format('svg');
}
@font-face {
  font-family: 'ntatabular';
  src: url('#{$nta-font-path}/NTATabularNumbers-Light.eot');
  src: url('#{$nta-font-path}/NTATabularNumbers-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$nta-font-path}/NTATabularNumbers-Light.woff2') format('woff2'),
  url('#{$nta-font-path}/NTATabularNumbers-Light.woff') format('woff'),
  url('#{$nta-font-path}/NTATabularNumbers-Light.ttf') format('truetype'),
  url('#{$nta-font-path}/NTATabularNumbers-Light.svg#svgNTATabular') format('svg');
}
@font-face {
  font-family: 'ntatabular';
  src: url('#{$nta-font-path}/NTATabularNumbers-Bold.eot');
  src: url('#{$nta-font-path}/NTATabularNumbers-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$nta-font-path}/NTATabularNumbers-Bold.woff2') format('woff2'),
  url('#{$nta-font-path}/NTATabularNumbers-Bold.woff') format('woff'),
  url('#{$nta-font-path}/NTATabularNumbers-Bold.ttf') format('truetype'),
  url('#{$nta-font-path}/NTATabularNumbers-Bold.svg#svgNTATabular') format('svg');
  font-weight: bold;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.font-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.03774;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 641px) {
  .font-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.font-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 641px) {
  .font-xlarge {
    font-size: 48px;
    line-height: 1.04167;
  }
}

.font-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 641px) {
  .font-large {
    font-size: 36px;
    line-height: 1.11111;
  }
}

.font-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 641px) {
  .font-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.font-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 641px) {
  .font-small {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.font-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 641px) {
  .font-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.bold-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.03774;
  font-weight: 700;
  margin: 0;
  text-transform: none;
}
@media (min-width: 641px) {
  .bold-xxlarge {
    font-size: 80px;
    line-height: 1;
    margin: 0;
  }
}

.bold-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}
@media (min-width: 641px) {
  .bold-xlarge {
    font-size: 48px;
    line-height: 1.04167;
    margin: 0;
  }
}

.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}
@media (min-width: 641px) {
  .bold-large {
    font-size: 36px;
    line-height: 1.11111;
    margin: 0;
  }
}

.bold-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}
@media (min-width: 641px) {
  .bold-medium {
    font-size: 24px;
    line-height: 1.25;
    margin: 0;
  }
}

.bold-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}
@media (min-width: 641px) {
  .bold-small {
    font-size: 19px;
    line-height: 1.31579;
    margin: 0;
  }
}

.bold-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}
@media (min-width: 641px) {
  .bold-xsmall {
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
  }
}

// added by trevor under _docs.scss but agreed with him to move it under typography
b {
  font-weight: 700;
}
