@import "~govuk_frontend_toolkit/stylesheets/typography";
@import '~govuk-elements-sass/public/sass/elements/elements-typography';
@import '~govuk-elements-sass/public/sass/elements/lists';



@import 'lists/lists';
@import '../icons/icons';

//@import "~bootstrap-sass/assets/stylesheets/bootstrap/_type";


/* Headings */


h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }