<h2 class="heading-medium">Breadcrumbs</h2>
<p>Each element of the breadcrumb has a <code>text</code> attribute that defines the text of links and the final element (current page)</p>
<p>Each of the link elements has a <code>state</code> attribute that takes the state for the link as defined in the $stateProvider routing. In other words it is the same as you would pass to <code>ui-sref</code>.</p>

<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="breadcrumbs">
        <ol>
          <li><a href="#">Platform Development Kit</a></li>
          <li><a href="#">Components</a></li>
          <li>Navigation</li>
        </ol>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">

      <gov-breadcrumbs breadcrumbs="$ctrl.breadcrumbsData"></gov-breadcrumbs>

    </docs-example>
  </gov-tab>
  
  <gov-tab heading="Data">
    <prismify language="javascript">

      breadcrumbsData = [
        {
          state: 'home',
          text: 'Platform Development Kit',
        },
        {
          state: 'components',
          text: 'Components'
        },
        {
          text: 'Navigation'
        }
      ];

    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="9"></discuss-component>