<h2 class="heading-medium">Breadcrumbs</h2>
<p>This component is using angular-breadcrumb (<span
    ng-bind-html="'https://github.com/ncuillery/angular-breadcrumb' | linky:'_blank'"></span>), please refer to the link
  for more information about how to use breadcrumbs.</p>

<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="breadcrumbs">
        <ol>
          <li><a href="#">Single Page Platform Development Kit</a></li>
          <li>Layout</li>
        </ol>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <ncy-breadcrumb></ncy-breadcrumb>
    </docs-example>
  </gov-tab>

</gov-tabset>

<discuss-component issue="9"></discuss-component>