<h2 class="heading-medium">Image</h2>
<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div>
        <div class="heading-large">Test image title</div>
        <div class="gov-image-container">
          <div class="gov-image">
            <img src="../../../../docs/images/justice.jpg" alt="Test image title">
            <div class="gov-image-metadata">
              <strong>Date taken</strong>: <span>2016 05 19</span>
            </div>
            <div class="gov-image-metadata">
              <strong>Copyright</strong>: <span>none</span>
            </div>
          </div>
        </div>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="javascript">
      <gov-image image="$ctrl.image"></gov-image>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      image = {
        src: 'images/justice.jpg',
        title: 'Test image heading',
        metadata: [
          {
            key: 'date taken',
            value: '2016 05 19'
          },
          {
            key: 'copyright',
            value: 'none'
          }
        ]
      };
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="13"></discuss-component>


