.gov-action-pane {
  border: 4px solid $light-blue;
  padding: 15px;
  margin: 0 0 20px;

  .gov-action-pane-heading {
    @include bold-19;
  }

  .gov-action-pane-links a:last-of-type {
    display: block;
    margin-bottom: 20px;
  }
}