<h2 class="heading-medium">Action Pane</h2>

<gov-tabset>

  <gov-tab heading="HTML Example">

    <docs-example language="markup">
      <div class="gov-action-pane">
        <div class="gov-action-pane-links">
          <a href="#">Go to timeline and summary</a>
        </div>
        <div class="gov-action-pane-heading">Next Task</div>
        <a href="#">Enter your analysis and charging decision</a>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <h2>Example 1 (With links, Tasks and heading)</h2>
      <gov-action-pane heading="$ctrl.title">
        <links>
          <a href="http://www.google.com" link="Visit Google">Visit Google</a>
        </links>
        <tasks>
          <a href="#" link="Review your application">Review your application</a>
        </tasks>
      </gov-action-pane>
      <h2>Example 2 (With just links)</h2>
      <gov-action-pane>
        <links>
          <div><a href="http://www.google.com" link="Visit Google">Visit Google</a></div>
          <div><a href="http://www.yahoo.com" link="Visit Yahoo">Visit Yahoo</a></div>
        </links>
      </gov-action-pane>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      title = "Next tasks";
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="2"></discuss-component>