// Header
// ==========================================================================

$module: 'header';

.#{$module} {
  background-color: $black;
  color: $white;
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: $black;
    }
  }

  &-wrapper {
    @extend %contain-floats;
    margin: 0 auto;
    max-width: 960px;
    padding: 8px $gutter-half;

    @include media(tablet) {
      padding-left: $gutter;
      padding-right: $gutter;
    }

  }

  &-name {
    @include core-24;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;

    @include media(desktop) {
      float: left;
    }

  }

  &-menu {
    padding-top: 5px;
    padding-bottom: 1px;

    @include media(desktop) {
      text-align: right;
    }

    li {
      display: inline-block;
      margin-left: $gutter-half;

      &:first-child {
        margin-left: 0;
      }

    }

    a {
      @include core-16;
      font-weight: bold;
    }

  }

}