@import '~govuk_frontend_toolkit/stylesheets/conditionals';

.gov-notification {
  @include bold-24;
  box-sizing: border-box;
  padding: 22px;
  display: table;
  width: 100%;
  color: $white;

  @include media(tablet) {
    padding: 30px;
  }

  // todo: determine icons for those types without them

  > i {
    @extend .fa;
    display: table-cell;
  }

  &.active   {
    background: $green;
    > i {
      display: none;
    }
  }
  &.inactive {
    background: $red;
    > i {
      display: none;
    }
  }
  &.success  {
    background: $turquoise;
    > i {
      @extend .fa-check-circle;
    }
  }
  &.pending  {
    background: $orange;
    > i {
      display: none;
    }
  }
  &.invalid, &.error {
    background: $red;
    > i {
      @extend .fa-exclamation-circle;
    }
  }

  .gov-notification-body {
    display: table-cell;
    padding-left: 8px;
    width: 100%;
  }
}