// Notification
// ==========================================================================

$module: 'pdk-notification';

.#{$module} {
  display: table;
  margin-bottom: $gutter;
  padding: $gutter-half;

  &.flow {
    width: 100%;
  }

  @include media(desktop) {
    padding: $gutter;
  }

  &-message {
    color: $white;
    display: table-cell;

    p {
      margin: 0;
    }

    a {
      color: $white;

      &:focus {
        color: $black;
      }
    }
  }

  .icon {
    display: table-cell;
    vertical-align: top;

    + .#{$module}-message {
      padding-left: 15px;
    }
  }

  &-confirmation, &-success {
    background-color: $turquoise;
  }

  &-active {
    background-color: $green;
  }

  &-pending {
    background-color: $orange;
  }

  &-locked, &-invalid {
    background-color: $red;
  }

  &-deregistered {
    background-color: $grey-1
  }
}