<h2>Notification</h2>

<gov-tabset>

  <gov-tab heading="HTML Example">

    <docs-example language="markup">
      <div class="gov-notification success">
        <i class="gov-icon gov-icon-important"></i>
        <div class="gov-notification-body">
          Accepted case management information
        </div>
      </div>
    </docs-example>

  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-notification type="success" show-icon="true">
        A notification with an icon
      </gov-notification>
      <gov-notification type="invalid">
        Another example without an icon
      </gov-notification>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <docs-example language="javascript">
      examples = [
        {showIcon: true,  style: 'success'},
        {showIcon: false, style: 'invalid'}
      ];
    </docs-example>
  </gov-tab>

</gov-tabset>

<discuss-component issue="20"></discuss-component>