@import '~govuk_frontend_toolkit/stylesheets/conditionals';

.gov-notification {
  @include bold-24;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 1em;
  display: table;
  width: 100%;
  color: $white;

  @include media(tablet) {
    padding: 30px;
  }

  // todo: determine icons for those types without them

  > i {
    @extend .fa;
    display: table-cell;
  }

  &.active   {
    background: $green;
    > i {
      display: none;
    }
  }
  &.inactive {
    background: $grey-2;
    > i {
      display: none;
    }
  }
  &.locked {
    background: $red;
    > i {
      @extend .fa-lock;
    }
  }
  &.success  {
    background: $turquoise;
    > i {
      @extend .fa-check;
    }
  }
  &.pending  {
    background: $orange;
    > i {
      display: none;
    }
  }
  &.invalid, &.error {
    background: $red;
    > i {
      @extend .fa-exclamation-circle;
    }
  }

  .gov-notification-body {
    display: table-cell;
    width: 100%;
  }

  i + .gov-notification-body {
    padding-left: 15px;
  }

  a {
    color: $white !important;
    font-weight: 400;
  }
}