<h2>Notification</h2>

<gov-tabset>

  <gov-tab heading="HTML Example">

    <docs-example language="markup">
      <div class="gov-notification success">
        <i class="gov-icon"></i>
        <div class="gov-notification-body">
          Accepted case management information
        </div>
      </div>
    </docs-example>

  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-notification type="success" show-icon="false">
        A notification without an icon
      </gov-notification>
      <gov-notification type="invalid" show-icon="true">
        Another example with an icon
      </gov-notification>
      <gov-notification type="success" show-icon="true">
        A notification without an icon and link
        </br>
        <a href="#">This is a link</a>
      </gov-notification>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <docs-example language="javascript">
      examples = [
        {showIcon: true,  style: 'success'},
        {showIcon: false, style: 'invalid'}
      ];
    </docs-example>
  </gov-tab>

</gov-tabset>

<discuss-component issue="20"></discuss-component>