<div class="pagination">
  
  <div class="pagination-prev">
    <a href="javascript:void(0);" rel="prev" title="$ctrl.navigation.previous.usageInstructions"
      ng-click="$ctrl.navigation.previous.navigate();">
      <span class="pagination-label" ng-bind="$ctrl.navigation.previous.name"></span>
      <span class="pagination-title" ng-bind="$ctrl.navigation.previous.description"></span>
    </a>
  </div>
  
  <div class="pagination-next">
    <a href="javascript:void(0);" rel="next" title="$ctrl.navigation.next.usageInstructions"
      ng-click="$ctrl.navigation.next.navigate();">
      <span class="pagination-label" ng-bind="$ctrl.navigation.next.name"></span>
      <span class="pagination-title" ng-bind="$ctrl.navigation.next.description"></span>
    </a>
  </div>
  
</div>
