<div class="pagination">
  
  <div class="pagination-prev">
    <a href="" rel="prev" title="$ctrl.navigation.previous.usageInstructions"
      data-ng-click="$ctrl.navigation.previous.navigate();">
      <span class="pagination-label" data-ng-bind="$ctrl.navigation.previous.name"></span>
      <span class="pagination-title" data-ng-bind="$ctrl.navigation.previous.description"></span>
    </a>
  </div>
  
  <div class="pagination-next">
    <a href="" rel="next" title="$ctrl.navigation.next.usageInstructions"
      data-ng-click="$ctrl.navigation.next.navigate();">
      <span class="pagination-label" data-ng-bind="$ctrl.navigation.next.name"></span>
      <span class="pagination-title" data-ng-bind="$ctrl.navigation.next.description"></span>
    </a>
  </div>
  
</div>
