<h2 class="heading-medium">Next/Previous Navigation</h2>

<p class="text">
  Provides Next and Previous links with a title and description
</p>

<gov-tabset>
  <gov-tab heading="HTML Example">
    <docs-example markup>

<div class="grid-row">
  <div class="column-two-half">
    <a class="navigation-arrow">
      <div class="arrow-previous pull-left">
        <span class="fa fa-chevron-left fa-2x"></span>
      </div>
      <div class="pull-left">
        <div class="main text">Previous</div>
        <span class="description">Some Description</span>
      </div>
      <div class="clearfix"></div>
    </a>
  </div>
  <div class="column-two-half">
    <a class="navigation-arrow">
      <div class="arrow-previous pull-right">
        <span class="fa fa-chevron-right fa-2x"></span>
      </div>
      <div class="pull-right">
        <div class="main text-right">Next</div>
        <span class="description">Some Description</span>
      </div>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
    </docs-example>
  </gov-tab>
  <gov-tab heading="Angular Markup">
    <docs-example markup>
      <gov-next-previous-navigation navigation="$ctrl.navigation"></gov-next-previous-navigation>
    </docs-example>
  </gov-tab>
  <gov-tab heading="Data">
    <docs-example>
      navigation = {<br>
      &nbsp;&nbsp;previous: {<br>
      &nbsp;&nbsp;&nbsp;&nbsp;name: 'Previous',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;description: 'Some Description',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;navigate: function(){<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log('Previous');<br>
      &nbsp;&nbsp;&nbsp;&nbsp;}<br>
      &nbsp;&nbsp;},<br>
      <br>
      &nbsp;&nbsp;next: {<br>
      &nbsp;&nbsp;&nbsp;&nbsp;name: 'Next',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;description: 'Some Description',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;navigate: function(){<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log('Next');<br>
      &nbsp;&nbsp;&nbsp;&nbsp;}<br>
      &nbsp;&nbsp;}<br>
      };
    </docs-example>
  </gov-tab>
</gov-tabset>

<discuss-component issue="10"></discuss-component>