<article class="timeline-block">
  <div class="timeline-block-header">
    <time datetime="{{ $ctrl.dateTitle }}">{{ $ctrl.dayItem.dateTitle }}</time>
  </div>
  <div class="timeline-block-content">
    <h3 class="bold-small">{{$ctrl.dayItem.description}}</h3>
    <time class="font-xsmall" datetime="{{$ctrl.dayItem.timestamp}}Z">{{$ctrl.dayItem.timestamp}}</time>
    <ul class="timeline-block-updates">
      <li data-ng-repeat="action in $ctrl.dayItem.actions">
        <a href="#">{{action.title}}</a>  
      </li>
    </ul>
  </div>
</article>
<ng-transclude></ng-transclude>