<article class="timeline-block">
  <div class="timeline-block-header">
    <time datetime="2016-05-10">{{ $ctrl.dayItem.dateTitle }}</time>
  </div>
  <div class="timeline-block-content">
    <h3 class="bold-small">{{$ctrl.dayItem.description}}</h3>
    <time class="font-xsmall" datetime="{{$ctrl.dayItem.timestamp}}Z">{{$ctrl.dayItem.timestamp}}</time>
    <ul class="timeline-block-updates">
      <li><a href="#">Assign to me</a></li>
      <li>Review full case</li>
      <li>Enter your analysis and charging decision</li>
    </ul>
  </div>
</article>
<ng-transclude></ng-transclude>