


.day-item{
  a:not([href]) {
    color: $link-colour;
    text-decoration: underline;
  }
  .boxed {
    border: 1px solid $border-colour;
  }

  .bottom-shadow {
    border-bottom-width: 4px;
  }

  .box-it-inner {
    display:block;
    border-bottom:1px solid $border-colour;
    margin-bottom:10px;
    background-color: $grey-4;
  }

  .box-black-vertical {
    height:30px;
    border-left: 1px solid $border-colour;
    margin-left:20px;
  }

  .box-no-vertical {
    height:30px;
    margin-left:20px;
  }

  .box-padding {
    padding:10px;
  }

  .box-margin {
    margin-left:10px;
    margin-right:10px;
  }
  .box-grey-background {
    background-color: $grey-2;
  }
  .padding-box-right{
    padding-right:10px;
  }

  .padding-box-left{
    padding-left:10px;
  }

  .padding-box-bottom{
    padding-bottom:10px;
  }

  .gray{
    color: $secondary-text-colour;
  }

}

// gov-day-item:last-child() {
//   .timeline-block:after {
//     display: none;
//   }
// }