<h2 class="heading-medium">Tab</h2>
<p>Optimise screen area without sacrificing the amount of content.</p>
<gov-tabset>
  <gov-tab heading="Angular Markup">
    <docs-example markup>
<gov-tabset>
  <gov-tab heading="test1">test1</gov-tab>
  <gov-tab heading="test2">test2</gov-tab>
  <gov-tab heading="test3">test3</gov-tab>
</gov-tabset>
    </docs-example>
  </gov-tab>
  <gov-tab heading="HTML">
    This component can only be used with AngularJS as requires JavaScript to work. So there is no HTML example available.
  </gov-tab>
</gov-tabset>

<discuss-component issue="18"></discuss-component>