<h2 class="heading-medium">Completed Action Bar</h2>

<p class="text">
  Provides completed action with a description of the action and a link to amend the action
</p>
<gov-tabset>
  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <ul class="list">

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">ECHR doesn&rsquo;t apply</span>
              <span class="action-bar-options">
                <span class="action-bar-status action-bar-status-saved" data-status-title="Saved"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">Case strategy record</span>
              <span class="action-bar-options">
                <span class="action-bar-status"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
            <div class="action-bar-content">
              <details class="font-xsmall">
                <summary><span class="summary">View case strategy</span></summary>
                <div class="panel panel-border-narrow">
                  <p>Some content goes here&hellip;</p>
                </div>
              </details>
            </div>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">Applications to court</span>
              <span class="action-bar-options">
                <span class="action-bar-status"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
            <div class="action-bar-content">
              <details class="font-xsmall">
                <summary><span class="summary">View recommendations</span></summary>
                <div class="panel panel-border-narrow">
                  <p>Some content goes here&hellip;</p>
                </div>
              </details>
            </div>
          </div>
        </li>

      </ul>
    </docs-example>
  </gov-tab>
  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <ul class="list">
        <li ng-repeat="item in $ctrl.items">
          <gov-completed-bar item="item"></gov-completed-bar>
        </li>
      </ul>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      items = [
        {
          description: 'ECHR doesn\’t apply',
          action: 'Amend',
          state: 'Saved',
          click: function () {
            console.log('clicked Amend for \"ECHR doesn\'t apply\"');
          }
        },
        {
          description: 'Case strategy record',
          detailTitle: 'View case strategy',
          detail: 'Some content goes here...',
          action: 'Amend',
          state: '',
          click: function () {
            console.log('clicked Amend for \"Case strategy record\"');
          }
        },
        {
          description: 'Applications to court',
          detailTitle: 'View recommendations',
          detail: 'Some content goes here...',
          action: 'Amend',
          state: '',
          click: function () {
            console.log('clicked Amend for \"Applications to court\"');
          }
        }
      ];
  </prismify>
</gov-tab>

</gov-tabset>

<discuss-component issue="31"></discuss-component>