.completed-action{
  padding: 10px;
  font-weight: bold;
  @include core-16;

  .action-type{
    color: $link-colour;
  }

  .action-type:hover{
    color: $link-colour;
    cursor: pointer;
  }

  .bold {
    font-weight:bold;
  }

  .check{
    @extend .fa;
    @extend .fa-check;
    color: $secondary-text-colour;
    margin-right:15px;
  }

  .saved{
    font-weight: bold;
    color: $turquoise;
    margin-right:15px;
    padding: 2px 2px 2px 8px;
    border: 4px solid $turquoise;
  }

  .three-quarter{
    width: 75%;
  }

}