// Action bar
// ==========================================================================

$module: 'action-bar';

.#{$module} {

  // shared style
  &-header {
    box-sizing: border-box;
    padding: em(10);
  }

  &-content {
    box-sizing: border-box;
    padding: em(10);
  }

  &-title {
    display: block;
    font-weight: 700;
  }

  // start
  &-start {

    &:not(.#{$module}-secondary) {
      border: 1px solid $panel-colour;
      border-bottom: 3px solid $panel-colour;
      margin-bottom: em(10);

      a.#{$module}-header {
        background-color: $white;
        text-decoration: none;

        &:visited:not(:hover) {
          color: $govuk-blue;
        }
      }
    }

    &.#{$module}-secondary {
      margin-bottom: em(10);

      a.#{$module}-header {
        background-color: $light-blue-25;
        color: $text-colour;
        text-decoration: none;

        &:hover {
          background-color: #E6F1F8; // bespoke colour
        }
      }
    }

    .#{$module}-title {
      padding-right: em(30);
    }

    a {
      display: block;
      position: relative;

      &:after {
        background-image: file-url('actionbar-arrow.png');
        content: '';
        display: block;
        height: 16px;
        position: absolute; right: em(10); top: em(12);
        width: 10px;

        @include media(desktop) {
          top: 50%;
          transform: translateY(-50%); // ie9+
        }

        @include device-pixel-ratio() {
          background-image: file-url('actionbar-arrow-2x.png');
          background-size: 100%;
        }
      }
    }

  }

  // completed
  &-completed {
    margin-bottom: em(15);
    padding: 0 em(10);

    .#{$module}-header {
      display: table;
      padding: 0;
      width: 100%;
    }

    .#{$module}-content {
      padding: 0;
    }

    .#{$module}-title {
      font-weight: normal;
      display: table-cell;
      padding-right: em(20);
      vertical-align: middle;
    }

    .#{$module}-options {
      display: table-cell;
      font-size: 16px;
      text-align: right;
      vertical-align: top;
      white-space: nowrap;
    }

    .#{$module}-action {
      display: inline-block;
      margin-left: em(10, 16);
      overflow: hidden;
      vertical-align: middle;
    }

    .#{$module}-status {
      background-color: $white;
      border: 2px solid $white;
      display: inline-block;
      font-weight: bold;
      padding: em(3, 16) em(6, 16);
      vertical-align: middle;

      &:before {
        content: attr(data-status-title);
      }

      &:after {
        background-image: file-url('actionbar-status-done.png');
        content: '';
        display: inline-block;
        height: 11px; // fixed size
        margin-left: em(5);
        width: 14px; // fixed size

        @include device-pixel-ratio() {
          background-image: file-url('actionbar-status-done-2x.png');
          background-size: 100%;
        }

      }

      &-saved {
        border-color: $turquoise;
        color: $turquoise;

        &:after {
          background-image: file-url('actionbar-status-saved.png');

          @include device-pixel-ratio() {
            background-image: file-url('actionbar-status-saved-2x.png');
            background-size: 100%;
          }

        }

      }

    }

  }

}

/*

HTML Usage

<div class="action-bar action-bar-start">
  <a class="action-bar-header" href="#">
    <span class="action-bar-title">Record case strengths, weaknesses and strategy</span>
  </a>
</div>

OR

<div class="action-bar action-bar-completed">
  <div class="action-bar-header">
    <span class="action-bar-title">ECHR doesn&rsquo;t apply</span>
    <span class="action-bar-options">
      <span class="action-bar-status action-bar-status-saved" data-status-title="Saved"></span><a class="action-bar-action" href="#">Amend</a>
    </span>
  </div>
</div>

*/
