<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>
<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="../../../node_modules/govuk-elements-sass/node_modules/govuk_frontend_toolkit/images/crests/org_crest_27px.png" width="35" height="31" alt=""> GOV.UK
        </a>
      </div>
    </div>
    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
          <ul>
            <li>
              <a href="test">Test</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>