<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a ui-sref="home" class="navbar-brand">ngGovExample</a>
    </div>
    <nav>
      <ul class="navbar-nav nav">
        <li ui-sref-active="active"><a ui-sref="domain1">Domain One</a></li>
        <li ui-sref-active="active"><a ui-sref="domain2">Domain Two</a></li>
        <li ng-class="{active: $ctrl.includes('domain3')}"><a ui-sref="domain3.one">Domain Three</a></li>
      </ul>
    </nav>
  </div>
</header>