<h3 class="heading-medium mb-l">Currency Input</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    <p>The <b>pdk-currency-input</b> is a form control used for
    entering pound sterling values.

    <h4 class="mb-m"><i>Core Validators</i></h4>
    <ul class="list list-docs">
      <li>
        The <b>currencyFormat</b> error exists when the entered value is incomplete
        or does not adhere to the expected format.
      </li>
    </ul>
  </div>

  <div class="column-two-thirds">
    <docs-example language="markup">
      <pdk-currency-input ng-model="$ctrl.currency"></pdk-currency-input>
    </docs-example>
  </div>
</div>