$module: 'form';

.#{$module} {

  &-currency {
    display: block;
    position: relative;

    .#{$module}-control {
      padding-left: em(34);
    }

    &:before {
      @include core-19;
      color: $black;
      content: "\00a3";
      display: inline-block;
      position: absolute;
      text-align: center;
      vertical-align: middle;
      left: em(12); top: 50%;

      /* IE9+ support */
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}