.gov-show-hide-pane {
  border-top: 4px solid $black;

  .toggle-button{
    color: $white;
    background-color: $black;
    min-width: 80px;
    padding: 3px 5px;
    text-align: center;
    @include bold-19;
  }

  .gov-show-hide-pane-content{
    padding:10px;
    opacity:1;

    /* when hiding the picture */
    &.ng-hide-add         {
      -webkit-transition:all linear 0.2s;
      transition:all linear 0.2s;
    }

    /* when showing the picture */
    &.ng-hide-remove      {
      -webkit-transition:all linear 0.2s;
      transition:all linear 0.2s;
    }

    &.ng-hide {
      line-height:0;
      opacity:0;
    }
  }
}