<h3 class="heading-medium">Show/Hide Pane</h3>
<gov-tabset>
  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <!--with default optiones-->
      <gov-show-hide-pane>
        <always-visible>
          <h3 class="heading-medium">This headblock is always visible</h3>
        </always-visible>
        <hideable>
          <p>Content below the headblock can be hidden. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud ullamco laboris nisi ut aliquip ex ea aute irure dolor in invelit esse cillum dolore.</p>
        </hideable>
      </gov-show-hide-pane>

      <!--with custom options-->
      <gov-show-hide-pane show-text="$ctrl.show" hide-text="$ctrl.hide" open="$ctrl.open">
        <always-visible>
          <h3 class="heading-medium">This headblock is always visible</h3>
        </always-visible>
        <hideable>
          <p>The text describing the hide/open button can be customised</p>
          <p>Content below the headblock can be hidden. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud ullamco laboris nisi ut aliquip ex ea aute irure dolor in invelit esse cillum dolore.</p>
        </hideable>
      </gov-show-hide-pane>

    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      This component does not require any data. However, The following attributes are optional:
      open: boolean
      showText: string
      hideText: string

      Example:
      open = false;
      show = 'Open';
      hide = 'Close';
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="28"></discuss-component>