// Collapsibles
// ==========================================================================

$module: 'collapsibles';

.#{$module} {

  [aria-hidden="true"] {
    display: none;
  }

  &-button {
    background-color: $black;
    border: none;
    color: $white;
    cursor: pointer;
    float: right;
    font-size: inherit;
    margin-left: em(20);
    margin-top: -1px; // this is to compensate for the fact the focus border won't fully overlay the header border
    padding: 0;

    &-text {
      display: table-cell;
      line-height: em(34, 16) !important;
      min-width: em(48);
      padding-right: em(10);
      text-align: left;

      @include media(tablet) {
        line-height: em(34, 19) !important;
      }
    }

    // fix unwanted button padding in Firefox
    &:-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    &:focus {
      outline: 3px solid $focus-colour;
    }
  }

  &-header {
    @include core-19;
    border-top: 4px solid $black;
    margin-bottom: em(22.5, 16);

    @include media(tablet) {
      margin-bottom: em(43, 19);
    }
  }

  &-item {
    margin-top: em(30);
    padding-bottom: em(25);
  }

  &-toggle {
    background-image: file-url('accordian-arrow.png');
    display: table-cell;
    height: 34px;
    vertical-align: middle;
    width: 45px;

    &-on {
      background-position-y: -6px;
    }

    &-off {
      background-position-y: 38px;
    }
  }
}