<h3 class="heading-medium mb-l">Duration input</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    <p>
      The <b>pdk-duration-input</b> component is a form control used for entering
      time periods by a quantity and unit type.
    </p>

    <h4 class="mb-m"><i>Core Validators</i></h4>
    <ul class="list list-docs">
      <li>
        The <b>durationFormat</b> error exists when the duration is incomplete
        due to a missing quantity or unit type.
      </li>
    </ul>
  </div>

  <div class="column-two-thirds">
    <docs-example language="markup">
      <pdk-duration-input ng-model="$ctrl.duration"></pdk-duration-input>
    </docs-example>
  </div>
</div>