.summary-item{
  @include bold-19;
  display: table;
  color:$text-colour;
  &.summary-item-link {
    color:$link-color;
    &:hover {
      cursor: pointer;
    }
  }
  a{
    color:$link-color;
    text-decoration: none;
  }

  .summary-item-value{
    display: table-cell;
    max-width: 25px;
    @include bold-48;
  }

  .summary-item-icon{
    display: table-cell;
    max-width: 45px;
  }

  .summary-item-item{
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
  }
}