// Summary item
// ==========================================================================

$module: 'summary-item';

.#{$module} {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;

  @include media(mobile) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &-number,
  &-label {
    display: block;
  }

  &-inline {

    .#{$module}-number {

      @include media(tablet) {
        float: left;
        margin-right: 10px;
      }
    }

    .#{$module}-label {
      overflow: hidden;
    }
  }
}

a:focus .#{$module} {
  background: $focus-colour;
}

a:visited:not(:hover) .#{$module} {
  color: $govuk-blue;
}

/*

HTML Usage

<div class="summary-item">
  <span class="summary-item-number">44</span>
  <span class="summary-item-label">exhibits</span>
</div>

OR

<div class="summary-item summary-item-inline">
  <a href="#">
    <span class="summary-item-number">44</span>
    <span class="summary-item-label">exhibits</span>
  </a>
</div>

*/
