<h2 class="heading-medium">Summary Item</h2>

<p class="text">Use this component to define items status in a summary</p>

<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="grid-row">
        <p>Not Inline Examples</p>
        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xlarge">18</span>
              <span class="summary-item-label bold-xsmall">statements</span>
            </a>
          </div>
        </div>

        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xlarge">18</span>
              <span class="summary-item-label bold-xsmall">statements</span>
            </a>
          </div>
        </div>

        <div class="column-third">
          <div class="summary-item">
            <span class="summary-item-number bold-xlarge">13</span>
            <span class="summary-item-label bold-xsmall">additional documents</span>
          </div>
        </div>

      </div>
    </docs-example>
    <docs-example language="markup">
      <div class="grid-row">
        <p>Inline Examples</p>
        <div class="column-third">

          <div class="summary-item summary-item-inline">
            <a href="#">
              <span class="summary-item-number bold-xlarge">18</span>
              <span class="summary-item-label bold-xsmall">statements</span>
            </a>
          </div>
        </div>

        <div class="column-third">

          <div class="summary-item summary-item-inline">
            <a href="#">
              <span class="summary-item-number bold-xlarge">18</span>
              <span class="summary-item-label bold-xsmall">statements</span>
            </a>
          </div>
        </div>

        <div class="column-third">
          <div class="summary-item summary-item-inline">
            <span class="summary-item-number bold-xlarge">13</span>
            <span class="summary-item-label bold-xsmall">additional documents</span>
          </div>
        </div>

      </div>
    </docs-example>
    <docs-example language="markup">
      <div class="grid-row">
        <p>Summary items as links and bigger variants</p>
        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xxlarge">18</span>
              <span class="summary-item-label bold-xsmall">statements</span>
            </a>
          </div>
        </div>

        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xxlarge">18</span>
              <span class="summary-item-label bold-xsmall">statements</span>
            </a>
          </div>
        </div>

        <div class="column-third">
          <div class="summary-item">
            <span class="summary-item-number bold-xxlarge">13</span>
            <span class="summary-item-label bold-xsmall">additional documents</span>
          </div>
        </div>

      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <p>Inline Example</p>
    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item.description" value="$ctrl.item.value" action="$ctrl.item.action()"></gov-summary-item>
        </div>
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item2.description" value="$ctrl.item2.value" action="$ctrl.item2.action()"></gov-summary-item>
        </div>
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item3.description" value="$ctrl.item3.value"></gov-summary-item>
        </div>
      </div>
    </docs-example>
    <p>Not Inline Example</p>
    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item.description" value="$ctrl.item.value" action="$ctrl.item.action()" data-not-in-line="$ctrl.notInLine"></gov-summary-item>
        </div>
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item2.description" value="$ctrl.item2.value" action="$ctrl.item2.action()" data-not-in-line="$ctrl.notInLine"></gov-summary-item>
        </div>
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item3.description" value="$ctrl.item3.value" data-not-in-line="$ctrl.notInLine"></gov-summary-item>
        </div>
      </div>
    </docs-example>
    <p>Summary items as links and bigger variants</p>
    <docs-example language="markup">
      <div class="grid-row">
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item.description" value="$ctrl.item.value" action="$ctrl.item.action()" data-large="true"></gov-summary-item>
        </div>
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item2.description" value="$ctrl.item2.value" action="$ctrl.item2.action()" data-large="true"></gov-summary-item>
        </div>
        <div class="column-third">
          <gov-summary-item item-description="$ctrl.item3.description" value="$ctrl.item3.value" data-large="true"></gov-summary-item>
        </div>
      </div>
    </docs-example>

  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      notInLine = true;

      item = {
        value: 3,
        description: 'Statements',
        action: function(){console.log('hello'); }
      };
      item2 = {
        value: true,
        description: 'Supervisor comments provided',
        action: function(){console.log('hello'); }
      };
      item3 = {
        value: 2,
        description: 'Defendants'
      };
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="7"></discuss-component>

