<div class="summary-item" data-ng-class="{'summary-item-inline': !$ctrl.notInLine}">
  <a href="javascript:;" data-ng-click="$ctrl.action()" data-ng-if="$ctrl.action">
    <span class="summary-item-number"
          data-ng-class="{'bold-xlarge': !$ctrl.isLarge(), 'bold-xxlarge': $ctrl.isLarge()}"
          data-ng-if="$ctrl.isNumber($ctrl.value)"
          data-ng-bind="$ctrl.value">
    </span>
    <span class="fa fa-2x summary-item-icon" data-ng-if="$ctrl.isBoolean($ctrl.value)" data-ng-class="{'fa-check': $ctrl.value, 'fa-times': !$ctrl.value}"></span>
    <span class="summary-item-label" data-ng-bind="$ctrl.itemDescription"></span>
  </a>
  <span class="summary-item-number"
        data-ng-class="{'bold-xlarge': !$ctrl.isLarge(), 'bold-xxlarge': $ctrl.isLarge()}"
        data-ng-if="$ctrl.isNumber($ctrl.value) && !$ctrl.action"
        data-ng-bind="$ctrl.value">
  </span>
  <span class="fa fa-2x summary-item-icon" data-ng-if="$ctrl.isBoolean($ctrl.value) && !$ctrl.action" data-ng-class="{'fa-check': $ctrl.value, 'fa-times': !$ctrl.value}"></span>
  <span class="summary-item-label" data-ng-bind="$ctrl.itemDescription" data-ng-if="!$ctrl.action"></span>
</div>
