// Search input
// ==========================================================================

$module: 'search';

.#{$module} {
  position: relative;

  + .panel {
    margin-top: $gutter-half;
    margin-bottom: 0;
  }

  .form-control {
    @include box-sizing(border-box);
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 38px);

    @include media(tablet) {
      width: calc(50% - 38px);
    }

    &:focus {
      position: relative;
    }
  }

  &-button {
    @include box-sizing(border-box);
    background-color: $govuk-blue;
    background-image: image-url('icon-search-white.png');
    background-position: 1px 1px;
    border: 2px solid $govuk-blue;
    cursor: pointer;
    display: inline-block;
    height: 33px;
    overflow: hidden;
    padding: 5px 4px 4px;
    text-indent: -999px;
    vertical-align: middle;
    width: 33px;

    &:focus,
    &:hover {
      background-color: darken($govuk-blue, 5%); //#004F8C
      border-color: darken($govuk-blue, 5%); //#004F8C
    }

    @include device-pixel-ratio() {
      background-image: image-url('icon-search-white-2x.png');
      background-size: 100%;
    }

    @include media(tablet) {
      height: 38px;
      width: 38px;
    }

    &:focus {
      position: relative;
    }
  }

  &-secondary {
    input {
      background: white;
    }
    
    .form-control {
      border-color: $white;
      color: $black;
    }

    .#{$module}-button {
      background-color: $black;
      border-color: $black;
    }
  }
}

.error {

  .#{$module}-button {
    border-width: 4px;
    height: 41px;
    width: 41px;
  }
}