// Search input
// ==========================================================================

$module: 'form-search';

.#{$module} {
  position: relative;

  + .panel {
    margin-top: $gutter-half;
    margin-bottom: 0;
  }

  &.form-search-inline {
      display: inline-block;
      width: 100%;

      @include media(tablet) {
          width: 50%;
      }
  }

  .form-control {
    @include box-sizing(border-box);
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 32px);

    @include media(tablet) {
      width: calc(50% - 37px);

      &.form-search-inline {
        width: calc(100% - 37px);
      }
    }

    &:focus {
      position: relative;
    }
  }

  &-button {
    @include box-sizing(border-box);
    background-color: $govuk-blue;
    background-image: image-url('icon-search-white.png');
    border: 2px solid $govuk-blue;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    padding: 4px;
    text-indent: -999px;
    vertical-align: middle;
    width: 32px;

    &:focus,
    &:hover {
      background-color: darken($govuk-blue, 5%); //#004F8C
      border-color: darken($govuk-blue, 5%); //#004F8C
    }

    @include device-pixel-ratio() {
      background-image: image-url('icon-search-white-2x.png');
      background-size: 100%;
    }

    @include media(tablet) {
      height: 37px;
      width: 37px;
    }

    &:focus {
      position: relative;
    }

  }

}

.error {

  .#{$module}-button {
    border-width: 4px;
    height: 41px;
    width: 41px;
  }

}

/*

HTML Usage

<div class="form-search">
  <label class="form-label" for="search">Enter part or all of a user&rsquo;s name or email address</label>
  <input class="form-control" type="search" id="search" name="search" value="BGV"><button class="form-search-button" type="submit">Search</button>
  <p class="form-search-clear"><a href="#">Clear search</a></p>
</div>

*/
