<h2 class="heading-medium">Search Input</h2>

<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="form-search">
        <label class="visually-hidden" for="search">Label</label>
        <input class="form-control" type="search" id="search-1" name="search-1">
        <button class="form-search-button" type="submit">Search</button>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-search  id="$ctrl.inputId"
          name="$ctrl.search" autocomplete="true" ng-model="$ctrl.model" aria-describedby="$ctrl.ariaDescribedBy" ng-minlength="$ctrl.ngMinLength" placeholder="Search"
          on-search="$ctrl.onSearch($ctrl.model)" required="required" results="$ctrl.results"></gov-search>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      this.onSearch = function(text) {
        console.log(text);
      }
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="38"></discuss-component>