<h2 class="heading-medium">Search Input & Results</h2>
<p class="text">This components will display a search input and the number of search results found. The angular example below hides the search results until the user triggers a valid search action. The search result is hard coded to return static data.</p>


<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="form-search">
        <label class="visually-hidden" for="search">Label</label>
        <input class="form-control" type="text" id="inputId" placeholder="Search"
              name="inputName" autocomplete="true"
              aria-describedby="Aria  description" required="true">
        <button class="form-search-button" type="submit" role="button" type="submit">Search</button>
      </div>
      <div class="panel panel-border-wide">
        <p>0 results found</p>
      </div>       
    </docs-example>   
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      asdfadsf
      <gov-search  id="$ctrl.inputId"
          name="$ctrl.search" autocomplete="true" ng-model="$ctrl.model" aria-describedby="$ctrl.ariaDescribedBy" ng-minlength="$ctrl.ngMinLength" placeholder="Search"
          label="$ctrl.label" on-search="$ctrl.onSearch($ctrl.model)" required="required" results="$ctrl.results"></gov-search>
      <gov-search  id="$ctrl.inputId"
          name="$ctrl.search" autocomplete="true" ng-model="$ctrl.model" aria-describedby="$ctrl.ariaDescribedBy" ng-minlength="$ctrl.ngMinLength" placeholder="Search"
          label="$ctrl.label" sdata-show-label="true" on-search="$ctrl.onSearch($ctrl.model)" required="required" results="$ctrl.results"></gov-search>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      private results = {
        display: false,
        data: []
      };
      onSearch(text: string) {
        this.resultsHandler();
      }
      resultsHandler() {
        // Some data actions
        // Get data from service then add to results object below.
        this.results = {
          display: true,
          data: [
            {datum1: 'datum1'},
            {datum2: 'datum2'}
          ]
        };
      }
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="38"></discuss-component>