<div class="gov-search-input">
  <input type="text" id="{{::$ctrl.inputId}}" placeholder="{{::$ctrl.placeholder}}"
         name="{{::$ctrl.name}}" autocomplete="{{$ctrl.autocomplete || 'off'}}"
         aria-describedby="{{::$ctrl.ariaDescribedby}}" ng-model="$ctrl.ngModel"
         ng-minlength="{{::$ctrl.ngMinlength}}" required="{{$ctrl.ngRequired}}">

  <div class="gov-search-input__button">
    <button role="button" type="submit" ng-disabled="!$ctrl.ngModelCtrl.$valid"
            ng-click="$ctrl.submit()"></button>
  </div>
</div>