<h3 class="heading-medium mb-l">Divider</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    <p>
      The <b>pdk-divider</b> component is a form control for entering an HH:MM time
      using the twenty-four clock format.
    </p>

    <h3 class="heading-small mb-m">Configuration</h3>
    <ul class="list list-docs">
      <li>
        <code class="code">hero</code> <ng-badge></ng-badge>
        <em class="text-secondary">(Default: false)</em>
        A boolean expression for displaying the large version of the divider.
      </li>
      <li>
        <code class="code">dark</code> <ng-badge></ng-badge>
        <em class="text-secondary">(Default: false)</em>
        A boolean expression for whether the divider use its
        darker theme.
      </li>
    </ul>
  </div>

  <div class="column-two-thirds">
    <docs-example language="markup">
      <pdk-divider dark="true"></pdk-divider>

      <pdk-divider hero="true"></pdk-divider>
    </docs-example>
  </div>
</div>