// Warning banner
// ==========================================================================

$module: 'alert';

.#{$module} {
  @include core-16;
  @extend %clearfix;
  color: $white;
  padding: em(10, 16);

  &-container {
    @extend %site-width-container;
  }

  &-warning {
    background-color: $mellow-red;
  }

  &-success, &-confirmation {
    background-color: $turquoise;
    
    // corrects icon-tick dimensions from original 27px x 27px
    .icon-tick {
      height: 20px;
      width: 20px;
      background-size: cover;
    }
  }

  &-message {
    color: $white;
    display: table-cell;
    font-weight: 700;

    a, a:visited {
      color: $white;
      text-decoration: underline;
    }
  }

  .icon {
    display: table-cell;
    vertical-align: top;

    + .#{$module}-message {
      padding-left: em(10, 16);
    }
  }
}