<h2 class="heading-medium">Image</h2>
<docs-example markup>
<div>
    <div class="heading-large">Test image title</div>
    <div class="gov-image-container">
        <div class="gov-image">
            <img src="../../../docs/images/justice.jpg" alt="Test image title">
            <div class="gov-image-metadata">
                <strong>Date taken</strong>: <span>2016 05 19</span>
            </div>
            <div class="gov-image-metadata">
                <strong>Copyright</strong>: <span>none</span>
            </div>
        </div>
    </div>
</div>
</docs-example>
<!--to be uncommented when we have a doc for angular files-->
<!--gov-image image="$ctrl.image"></gov-image-->
<discuss-component issue="13"></discuss-component>


