<h2 class="heading-medium">Statement</h2>
<gov-tabset>

  <gov-tab heading="HTML Example">
    <docs-example language="markup">
      <div class="gov-media statement">
        <div class="gov-media-thumbnail"></div>
        <div class="gov-media-info">
          <a href="#">Statement 1 from Linda Thomas</a>
          <ul class="gov-media-metadata">
            <li>Taken: 13 April 2016</li>
          </ul>
          <ul class="gov-media-metadata">
            <li>PDF</li>
            <li>570KB</li>
            <li>2 pages</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Angular Markup">
    <docs-example language="markup">
      <gov-statement
          statement-date="$ctrl.statement.created | date:'medium'"
          statement-length="$ctrl.statement.length"
          file-size="$ctrl.statement.fileSize"
          file-name="$ctrl.statement.filename"
          on-select="$ctrl.onClick()">
      </gov-statement>
    </docs-example>
  </gov-tab>

  <gov-tab heading="Data">
    <prismify language="javascript">
      statement: any = {
        fileSize: 576441,
        filename: 'Statement 1 from Linda Thomas.pdf',
        created:  Date.now(),
        length:   '2 pages'
      };

      onSelect(filename: string) {
        console.log(filename);
      }
    </prismify>
  </gov-tab>

</gov-tabset>

<discuss-component issue="30"></discuss-component>
