.gov-media.statement {
  i {
    font-size: 65px;
    vertical-align: text-top;
  }

  .gov-media-thumbnail {
    float: left;
    height: 150px;
    width: 100px;
    background-image: url('#{$pdk-image-path}file_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: 5px solid rgba(11,12,12,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  }

  .gov-media-preview {
    float: left;
    max-width: 100px;
  }

  .gov-media-info {
    float: left;
    padding-left: 25px;
    @include core-14;
    a {
      @include core-24;
    }

    .gov-media-metadata {
      margin-top: 2px;
      +.gov-media-metadata {
        margin-top: 20px;
      }
      list-style: none;
      li {
        &:not(:last-child):after {
          content: ", "
        }
        display: inline-block;
      }
    }
  }
}