#footer .footer-meta {

  .footer-meta-inner .open-government-licence .logo a {
    background: url('#{$govuk-template-image-path}/open-government-licence.png') 0 0 no-repeat;
    @include device-pixel-ratio() {
      background-image: url('#{$govuk-template-image-path}/open-government-licence_2x.png');
    }
  }

  .copyright {
    a {
      background-image: url('#{$govuk-template-image-path}/govuk-crest.png');

      @include device-pixel-ratio() {
        background-image: url('#{$govuk-template-image-path}/govuk-crest-2x.png');
      }

      @include ie(6) {
        background-image: url('#{$govuk-template-image-path}/govuk-crest-ie.png');
      }
    }
  }
}

#footer {
  .contact {
    @include core-16();
    .value {
      color: #454a4c;
    }
    .label {
      font-weight: 600;
    }
  }
  .ui-footer-meta {
    border-top: 1px solid #a1acb2;
    margin-top: 40px;
    padding-top: 35px;
  }
}
#footer .footer-wrapper {
  &.business {
    max-width: $container-large-desktop;
  }
}
