#footer .footer-meta {

  .footer-meta-inner .open-government-licence .logo a {
    background: url('#{$govuk-template-image-path}/open-government-licence.png') 0 0 no-repeat;
    @include device-pixel-ratio() {
      background-image: url('#{$govuk-template-image-path}/open-government-licence_2x.png');
    }
  }

  .copyright {
    a {
      background-image: url('#{$govuk-template-image-path}/govuk-crest.png');

      @include device-pixel-ratio() {
        background-image: url('#{$govuk-template-image-path}/govuk-crest-2x.png');
      }

      @include ie(6) {
        background-image: url('#{$govuk-template-image-path}/govuk-crest-ie.png');
      }
    }
  }
}

#footer {
   z-index: 10000;
   position: relative;

  .contact {
    @include core-16();
    .value {
      color: #454a4c;
    }
    .label {
      font-weight: 600;
    }
  }
  .ui-footer-meta {
    border-top: 1px solid #a1acb2;
    margin-top: 40px;
    padding-top: 35px;
  }

  .ui-minimal-view {
    .label{
      @include core-19();
      font-weight: 700;
    }
    .data-item {
      div:not(:last-child){
        margin-bottom: 5px;
      }
    }
    .ui-footer-meta {
      margin-top:30px !important;
      padding-top: 30px
    }
  }
  
}
#footer .footer-wrapper {
  &.business {
    max-width: $container-large-desktop;
  }
}

#footer .footer-wrapper {
  &.business-x-large {
    max-width: $container-x-large-desktop;
  }
}
