<footer class="group js-footer" id="footer" role="contentinfo">

  <div class="footer-wrapper" data-ng-class="{ 
    'business': $ctrl.isBusiness,
    'business-x-large': $ctrl.isBusinessXLarge, 
    'ui-minimal-view': $ctrl.minimalView }">
    <div class="contact" data-ng-transclude></div>
    <div class="footer-meta" data-ng-class="{ 'ui-footer-meta': $ctrl.minimalView }">

      <div class="footer-meta-inner">

        <h2 class="visuallyhidden">Support links</h2>

        <ul>
          <li data-ng-repeat="link in $ctrl.links"><a href="{{ link.url }}" data-ng-bind="link.name"></a></li>
          <li data-ng-if="$ctrl.builtBy">Built by <a href="{{ $ctrl.builtBy.url }}">{{ $ctrl.builtBy.name }}</a></li>
        </ul>

        <div data-ng-if="!$ctrl.minimalView" class="open-government-licence">
          <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
          <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
        </div>

      </div>

      <div data-ng-if="!$ctrl.minimalView" class="copyright">
        <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
      </div>

    </div>

  </div>

</footer>
