@import "~govuk_frontend_toolkit/stylesheets/colours/organisation";
@import "~govuk_frontend_toolkit/stylesheets/colours/palette";
@import "../../../lib/govuk_template/stylesheets/styleguide/colours";

$antracite: #454a4c;
$black-midnight: #171819;
