<div id="skiplink-container">
  <div>
    <a href="javascript:;"
       data-ng-click="$ctrl.navigation.mainContent.navigate()"
       data-ng-if="undefined === $ctrl.showSkipLink || $ctrl.showSkipLink" class="skiplink"
       data-ng-bind="$ctrl.skipLinkText"></a>
  </div>
</div>
<div id="global-cookie-message" data-ng-if="$ctrl.showCookie" style="display: block">
  <p data-ng-transclude="cookies">
    GOV.UK uses cookies to make the site simpler.
    <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
  </p>
</div>
<div id="header-wrapper" data-ng-class="{'minimal-view': $ctrl.minimalView}">
  <header role="banner" id="global-header" class="with-proposition">

  <div class="header-wrapper" data-ng-class="{
    'business': $ctrl.isBusiness,
    'business-x-large': $ctrl.isBusinessXLarge }">

      <div class="header-global">
        <div data-ng-if="!$ctrl.titleDisabled" class="header-logo">
          <a data-ng-href="{{$ctrl.linkTitle}}" title="Go to the GOV.UK homepage" id="logo">
            <img data-ng-if="!$ctrl.minimalView" data-ng-src="{{$ctrl.logoUrl}}" width="35" height="31" alt=""> <span data-ng-bind="$ctrl.title"></span>
          </a>
        </div>
      </div>

      <div class="header-proposition" data-ng-if="$ctrl.navItems">
        <div class="content">
          <a href="javascript:;" data-ng-click="$ctrl.toggleMenu()" class="js-header-toggle menu" data-ng-class="{'open': $ctrl.menuOpen}">Menu</a>
          <nav id="proposition-menu">
            <a data-ng-if="!$ctrl.minimalView" href="javascript:;" data-ng-click="$ctrl.navigation.home.navigate()" id="proposition-name" data-ng-bind="$ctrl.heading"></a>
            <ul id="proposition-links" data-ng-class="{'js-visible': $ctrl.menuOpen}">
              <li data-ng-repeat="navItem in $ctrl.navItems">
                <a href="javascript:;" data-ui-sref="{{navItem.state}}" data-ng-bind="navItem.label"></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div id="global-header-bar" data-ng-class="{business: $ctrl.isBusiness, service: $ctrl.titleDisabled}"></div>
</div>
