#global-header {
  .header-wrapper {
    box-sizing: content-box;
    &.business {
      max-width: $container-large-desktop + $grid-gutter-width;
    }
  }
}
#wrapper-header {
  #logo {
    background-image: url('#{$govuk-template-image-path}/gov.uk_logotype_crown.png');
    @include ie-lte(8) {
      background-image: url('#{$govuk-template-image-path}/gov.uk_logotype_crown-1x.png');
    }
  }
}

#header-wrapper.minimal-view {
  #logo {
    background-image: none;
  }
  #global-header {
    .header-proposition, .content {
      float: right;
    }
  }
}


#global-header-bar.business {
  max-width: $container-large-desktop;
}

#global-header-bar.service {
  background: transparent;
}

#skiplink-container {
  text-align: center;
  background: $text-colour;
  display: block;

  .skiplink {
    display: inline-block;
    margin: 0.75em 0 0 30px;
    position: absolute;
  }
}
