<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>
<div id="global-cookie-message" ng-if="$ctrl.showCookie">
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div>
<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper" ng-class="{ 'business': $ctrl.isBusiness }">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">GOV.UK</a>
      </div>
    </div>
    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
          <a href="/" id="proposition-name" ng-bind="$ctrl.heading"></a>
          <ul id="proposition-links">
            <li ng-repeat="navItem in $ctrl.navItems">
              <a ui-sref="{{navItem.state}}" ng-bind="navItem.label"></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>