#global-header {
  .header-wrapper {
    box-sizing: content-box;
    &.business {
      max-width: $container-large-desktop;
    }
  }
}

#global-header-bar.business {
  max-width: $container-large-desktop - $grid-gutter-width;
}

#skiplink-container {
  text-align: center;
  background: $text-colour;
  display: block;

  .skiplink {
    display: inline-block;
    margin: 0.75em 0 0 30px;
    position: absolute;
  }
}