// Icons
// ==========================================================================

$module: 'icon';

.#{$module} {

  &-tick {
    @include icon(icon-tick, 27, 27);
  }

  &-cross {
    @include icon(icon-cross, 27, 27);
  }

  &-important-white {
    @include icon(icon-important-white, 31, 31);
  }

  &-tick-white {
    @include icon(icon-tick-white, 31, 31);
  }

  &-complete {
    @include icon(icon-complete, 12, 9);
  }

  &-alert {
    @include icon(icon-alert-white, 20, 20);
  }

}

/*

HTML Usage

<i class="icon icon-tick" role="presentation" aria-hidden="true"></i>

<i class="icon icon-cross" role="presentation" aria-hidden="true"></i>

<i class="icon icon-important-white" role="presentation" aria-hidden="true"></i>

<i class="icon icon-tick-white" role="presentation" aria-hidden="true"></i>

<i class="icon icon-alert" role="presentation" aria-hidden="true"></i>

*/
