<div
  class="form-date"
  data-ng-form="$ctrl.dateControl"
  data-ng-model-options="{updateOn: 'default', debounce: undefined}">

  <div class="form-group form-group-day">
    <label class="form-label"
           for="{{$ctrl.$$identifier + '-day'}}"
           data-ng-bind="dayLabel || 'Day'"></label>
    <input id="{{$ctrl.$$identifier + '-day'}}"
           class="form-control"
           type="text"
           name="dateDay"
           aria-describedby="{{$ctrl.ariaDescribedBy}}"
           required
           autocomplete="off"
           maxlength="2"
           data-input-number
           data-leading-zeros-enabled
           data-ng-model="$ctrl.dayModel"
           data-ng-change="$ctrl.onInputChange()"
           data-ng-focus="$ctrl.onInputFocus()"
           data-ng-blur="$ctrl.onInputBlur()"
           data-ng-class="{error: $ctrl.dateForm.dateDay.$valid}">
  </div>

  <div class="form-group form-group-month">
    <label class="form-label"
           for="{{$ctrl.$$identifier + '-month'}}"
           data-ng-bind="monthLabel || 'Month'"></label>
    <input id="{{$ctrl.$$identifier + '-month'}}"
           class="form-control"
           type="text"
           name="dateMonth"
           required
           maxlength="2"
           autocomplete="off"
           data-input-number
           data-leading-zeros-enabled
           data-ng-model="$ctrl.monthModel"
           data-ng-change="$ctrl.onInputChange()"
           data-ng-focus="$ctrl.onInputFocus()"
           data-ng-blur="$ctrl.onInputBlur()"
           data-ng-class="{error: $ctrl.dateForm.dateMonth.$valid}">
  </div>

  <div class="form-group form-group-year">
    <label class="form-label"
           for="{{$ctrl.$$identifier + '-year'}}"
           data-ng-bind="yearLabel || 'Year'"></label>
    <input id="{{$ctrl.$$identifier + '-year'}}"
           class="form-control"
           type="text"
           name="dateYear"
           required
           maxlength="4"
           autocomplete="off"
           data-input-number
           data-leading-zeros-enabled
           data-ng-model="$ctrl.yearModel"
           data-ng-change="$ctrl.onInputChange()"
           data-ng-focus="$ctrl.onInputFocus()"
           data-ng-blur="$ctrl.onInputBlur()"
           data-ng-class="{error: $ctrl.dateForm.dateYear.$valid}">
  </div>
</div>