.form-control--span-2 {
  width: 3em !important;
}

.form-control--span-4 {
  width: 5em !important;
}

.date-input__block {
  display: inline-block;
  margin: 0 4px 0 0;
  > label {
    display: block;
  }
}