<div data-ng-form="$ctrl.dateControl">

    <!-- Date day -->
    <div class="date-input__block">
      <label for="{{$ctrl.$$identifier + '-day'}}" ng-bind="dayLabel || 'Day'"></label>
      <input id="{{$ctrl.$$identifier + '-day'}}"
             class="form-control form-control--span-2"
             type="text"
             name="dateDay"
             required
             autocomplete="off"
             data-ng-model="$ctrl.dayModel"
             data-ng-change="$ctrl.onInputChange()"
             data-ng-focus="$ctrl.onInputFocus()"
             data-ng-blur="$ctrl.onInputBlur()"
             data-ng-class="{error: $ctrl.dateForm.dateDay.$valid}">
    </div>

    <!-- Date month -->
    <div class="date-input__block">
      <label for="{{$ctrl.$$identifier + '-month'}}" ng-bind="monthLabel || 'Month'"></label>
      <input id="{{$ctrl.$$identifier + '-month'}}"
             class="form-control form-control--span-2"
             type="text"
             name="dateMonth"
             required
             autocomplete="off"
             data-ng-model="$ctrl.monthModel"
             data-ng-change="$ctrl.onInputChange()"
             data-ng-focus="$ctrl.onInputFocus()"
             data-ng-blur="$ctrl.onInputBlur()"
             data-ng-class="{error: $ctrl.dateForm.dateMonth.$valid}">
    </div>

    <!-- Date yyyy -->
    <div class="date-input__block">
      <label for="{{$ctrl.$$identifier + '-year'}}" ng-bind="yearLabel || 'Year'"></label>
      <input id="{{$ctrl.$$identifier + '-year'}}"
             class="form-control form-control--span-4"
             type="text"
             name="dateYear"
             required
             autocomplete="off"
             data-ng-model="$ctrl.yearModel"
             data-ng-change="$ctrl.onInputChange()"
             data-ng-focus="$ctrl.onInputFocus()"
             data-ng-blur="$ctrl.onInputBlur()"
             data-ng-class="{error: $ctrl.dateForm.dateYear.$valid}">
    </div>
</div>