<h3 class="heading-medium mb-l">Footer</h3>

<div class="grid-row">

  <div class="column-one-third font-xsmall">
    <p>
      The <b>pdk-footer</b> component is used as the sole page footer within a page.
    </p>
    <h3 class="heading-small mb-m">Configuration</h3>
    <ul class="list list-docs">
      <li>
        <code class="code">container-class</code>
        <em class="text-secondary">(Optional)</em>
        A container class for when an alternative content width to the GDS default is required.
      </li>  
    </ul>

    <h3 class="heading-small mb-m">Inner components</h3>
    <ul class="list list-docs">
      <li>
        <h4><b>footer-content</b></h4>
        The content to serve as the primary content of the footer.
      </li>
      <li>
        <h4><b>footer-nav / footer-nav-item</b></h4>
        The navigation menu of the footer.
      </li>
    </ul>
  </div>

  <div class="column-two-thirds font-xsmall">
<docs-example language="markup">  
<pdk-footer>
    <footer-content>
      <h2>Help desk</h2>
      <dl>
        <dt>Telephone</dt>
        <dd>0207 633 4140</dd>
        <dd>Monday to Friday, 8am to 6pm (excluding public holidays)</dd>
      </dl>
    </footer-content>  
    <footer-nav>
      <footer-nav-item>
        <a href="/tnc">Terms and conditions</a>
      </footer-nav-item>
      <footer-nav-item>
        <a href="/cookies">Cookies</a>
      </footer-nav-item>
    </footer-nav>
</pdk-footer>
</docs-example>
  </div>
</div>