// Footer
// ==========================================================================

$module: 'footer';

.#{$module} {
  background-color: $grey-3;
  border-top: 1px solid #a1acb2;
  padding: $gutter*2 0;

  // colours do not exist in GOV palette (copied GOV footer)
  a {
    color: #454a4c;

    &:hover {
      color: #171819;
    }
  }

  &-wrapper {
    @extend %contain-floats;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 $gutter-half;

    @include media(tablet) {
      padding-left: $gutter;
      padding-right: $gutter;
    }

  }

  &-support {

    li {
      float: left;
      margin-right: $gutter-half;
    }

  }

  &-content {
    color: #454a4c;

    h2 {
      @include core-24;
      color: $black;
      font-weight: 700;
    }

    h3 {
      @include core-19;
      font-weight: 700;
      margin-top: $gutter-half;
    }

    dl {
      margin-top: em(5);
    }

    dt {
      display: inline;
      &::after {
        content: ":";
      }
    }

    dd {
      display: inline;

      &::after {
        display: block;
        content: "";
      }

    }

  }

}