.gov-search-group {
  position: relative;

  @include media(tablet) {
    width: 50%;
  }

  > input {
    @extend .form-control;
    width: 100% !important;
    height: 40px;
  }

  .gov-search-button {
    width: 40px;
    position: absolute;
    height: 40px;
    right: 0;
    top: 0;

    button {
      box-sizing: border-box;
      box-shadow: none;
      font-size: 0;
      height: 40px;
      padding: 6px 0 7px;
      background: $black;
      border: 1px solid $black;
      width: 100%;
      &:after {
        font-family: FontAwesome, sans-serif;
        content: '\f002';
        color: $white;
        font-size: 18px;
      }
      &:focus {
        padding-top: 5px;
      }
    }
  }
}