<h2>Highlight text</h2>

<gov-tabset>
  <gov-tab heading="HTML Example">
    <h4 class="heading-small">Default</h4>
    <docs-example markup>

<div class="gov-highlight-text">
  <p>It can take up to 8 weeks to register a lasting power of attorney.</p>
</div>

    </docs-example>


    <h4 class="heading-small">Success</h4>
    <docs-example markup>

<div class="gov-highlight-text success">
  <p>It can take up to 8 weeks to register a lasting power of attorney.</p>
</div>

    </docs-example>


    <h4 class="heading-small">Warning</h4>
    <docs-example markup>

<div class="gov-highlight-text warning">
  <p>It can take up to 8 weeks to register a lasting power of attorney.</p>
</div>

    </docs-example>


    <h4 class="heading-small">Info</h4>
    <docs-example markup>

<div class="gov-highlight-text info">
  <p>It can take up to 8 weeks to register a lasting power of attorney.</p>
</div>

    </docs-example>


    <h4 class="heading-small">Danger</h4>
    <docs-example markup>

<div class="gov-highlight-text danger">
  <p>It can take up to 8 weeks to register a lasting power of attorney.</p>
</div>

    </docs-example>
  </gov-tab>
  <gov-tab heading="Angular Markup">
    <docs-example markup>
      <gov-page-title title="Here you will include the main title">
        <subtitle>Here you can include some extra information</subtitle>
      </gov-page-title>
    </docs-example>
  </gov-tab>
</gov-tabset>