.gov-highlight-text {
  border-left: 4px solid #bfc1c3;
  padding: 10px 0 10px 15px;
  margin: 30px 15px 45px 0;

  > p:last-child {
    margin: 0;
  }

  &.success {
    border-color: $turquoise;
  }

  &.danger {
    border-color: $red;
  }

  &.warning {
    border-color: $orange;
  }

  &.info {
    border-color: $fuschia;
  }
}