@import "../../../../lib/govuk_template/stylesheets/header";

#global-header #logo {
  padding-left: 47px;
  background: url(../../../../lib/govuk_template/stylesheets/images/gov.uk_logotype_crown.png) no-repeat;
  background-size: 35px 31px;
  background-position: 0 0;
}